<h1 style="color: #F70206; text-shadow: 2px 2px 4px #000000; border: 1px solid #000000; font-size: 60px; text-align: center; background-color: #A1A1A3;"> üèéÔ∏è FORMULA 1: LAP TIMES üèéÔ∏è </h1>

<h1 style="color: #F70206; text-shadow: 2px 2px 4px #000000; border: 1px solid #000000; font-size: 36px;">00 | First Steps </h1>

In [2]:
import re                                                # üîÑ Importa la biblioteca re para operaciones de expresiones regulares.
import pandas as pd                                      # üòÄ Importa la biblioteca pandas y la renombra como pd para su uso en el c√≥digo.
import matplotlib.pyplot as plt                          # üìä Importa la biblioteca matplotlib.pyplot y la renombra como plt para su uso en el c√≥digo.
import seaborn as sns                                    # üìà Importa la biblioteca seaborn para gr√°ficos estad√≠sticos.
import numpy as np                                       # üî¢ Importa la biblioteca numpy y la renombra como np para su uso en el c√≥digo.
import statsmodels.api as sm                             # üìà Importa la biblioteca statsmodels.api para an√°lisis estad√≠stico y modelado.
import scipy.stats as st                                 # üî¨ Importa la biblioteca scipy.stats para distribuciones y pruebas estad√≠sticas.
import warnings                                          # ‚ö†Ô∏è Importa la biblioteca warnings para manejar advertencias.
from datetime import datetime                            # üìÖ Importa la clase datetime de la biblioteca datetime para trabajar con fechas y horas.

<div class="alert alert-block alert-info" style="background-color: rgba(247, 2, 6, 0.2); color: black;">
    <strong>Tip #1</strong> RELLENAR!
</div>

<h4 style="color: #F70206;">Other settings</h4>

In [3]:
warnings.filterwarnings("ignore")
%matplotlib inline
pd.set_option('display.max_columns', None)

<h4 style="color: #F70206;">Data Extraction</h4>

In [4]:
data = pd.read_csv("circuits.csv")

<h4 style="color: #F70206;">Exploring the Data (First Impression)</h4>

In [5]:
data

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmel√≥,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
72,75,portimao,Aut√≥dromo Internacional do Algarve,Portim√£o,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,\N,http://en.wikipedia.org/wiki/Losail_Internatio...
76,79,miami,Miami International Autodrome,Miami,USA,25.95810,-80.23890,\N,http://en.wikipedia.org/wiki/Miami_Internation...

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     object
 8   url         77 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 5.5+ KB

In [7]:
data.columns

Index(['circuitId', 'circuitRef', 'name', 'location', 'country', 'lat', 'lng',
       'alt', 'url'],
      dtype='object')

In [ ]:
for column in data.columns:
    print(data.columns.unique())

In [8]:
df = data.copy()

<h1 style="color: #F70206; text-shadow: 2px 2px 4px #000000; border: 1px solid #000000; font-size: 36px;">01 | Data Cleaning</h1>

<h4 style="color: #F70206;">Cleaning Column Names</h4>

In [10]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [ ]:
dfcopy.rename(columns={"st": "state"}, inplace = True)

<h6 style="color: #F70206;">Reordering columns</h6>

In [11]:
df.columns

Index(['circuitid', 'circuitref', 'name', 'location', 'country', 'lat', 'lng',
       'alt', 'url'],
      dtype='object')

In [ ]:
column_order = ['circuitid', 'circuitref', 'name', 'location', 'country', 'lat', 'lng',
       'alt', 'url']
df = df.reindex(columns=column_order)

<h4 style="color: #F70206;">Cleaning invalid Values</h4>

In [ ]:
mean_ages = dict(df.groupby("title")["age"].mean().round(1))            # TECNICA MAPEO

In [ ]:
age_by_title = df["title"].map(mean_ages)

In [ ]:
mapeo = {"Male": "M", "female":"F", "Femal": "F", "M": "M", "F": "F"}       # TECNICA MAPEO

In [ ]:
dfcopy["gender"] = dfcopy["gender"].map(mapeo)

In [ ]:
dfcopy["gender"].value_counts()

In [ ]:
df["sex_enc"] = df["sex"].map({"female": 0, "male": 1})                   # TECNICA MAPEO A BINARIO

In [ ]:
titles_dummies = pd.get_dummies(df["title"], prefix="title")             # TECNICA CREAR DUMIES
df = pd.concat([df, titles_dummies], axis=1)

In [ ]:
df = df * 1                                                              # TRANSFORMANDO DE BOOLEAN A INT (0 Y 1)

<h6 style="color: #F70206;">Cleaning values with binig</h6>

In [ ]:
df.title.replace(df.title.value_counts().index[4:], "Other", inplace=True)

<h6 style="color: #F70206;">Cleaning column values</h6>

In [ ]:
df["cabin"] = df["cabin"].apply(lambda x: x[0] if isinstance(x, str) else "M")

In [ ]:
df["cabin"].value_counts().sort_values(ascending=False)

<h6 style="color: #F70206;">Cleaning string column values</h6>

In [ ]:
"Braund, Mr. Owen Harris".split(",")[1].split(".")[0].strip()

In [ ]:
df["title"] = df["name"].apply(lambda x: x.split(",")[1].split(".")[0].strip())

<h4 style="color: #F70206;">Dealing with Data types</h4>

<h6 style="color: #F70206;">Dealing with datetime</h6>

In [ ]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df['date'] = df['date'].apply(lambda x: x.toordinal())

In [ ]:
dfcopy['year'] = dfcopy['year'].astype(int)

<h6 style="color: #F70206;">Formatting data types</h6>

In [ ]:
df['columna'] = df['columna'].apply(lambda x: float(x) if isinstance(x, int) else x)      # de int a float

<h4 style="color: #F70206;">Dealing with NaN values</h4>

In [12]:
df.isna().sum()

circuitid     0
circuitref    0
name          0
location      0
country       0
lat           0
lng           0
alt           0
url           0
dtype: int64

In [ ]:
dfcopy["customer_lifetime_value"].fillna(0, inplace=True)

<h6 style="color: #F70206;">Filling Nan with methods</h6>

In [ ]:
for column in dfcopy.columns:
    dfcopy[column] = dfcopy[column].interpolate(method='linear', limit_direction='forward', axis=0)

<h4 style="color: #F70206;">Dealing with Duplicates</h4>

In [13]:
data.duplicated().sum()

0

In [ ]:
dfduplicates.drop_duplicates(keep="first")

<h4 style="color: #F70206;">Dealing with Empty Spaces</h4>

In [14]:
data.eq(" ").sum()

circuitId     0
circuitRef    0
name          0
location      0
country       0
lat           0
lng           0
alt           0
url           0
dtype: int64

<h4 style="color: #F70206;">Columnas categoricas y numericas</h4>

In [ ]:
numerical = []                                         # CATEGORICAS MENOS DE 6
categorical = [] 
for column in df.describe().columns:
    if int(df[column].nunique()) > 6:
        numerical.append(column)
    else:
        categorical.append(column)
print(f' numerical : {numerical}')
print(f' categorical : {categorical}')

In [ ]:
columnas_categoricas = dfcopy.select_dtypes(include="object")
columnas_numericas = dfcopy.select_dtypes(include="number")

<h4 style="color: #F70206;">Dropping columns</h4>

In [15]:
todrop = ['name', 'location', 'country', 'url']

In [16]:
for column in todrop:
    df.drop(columns=[column], inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitid   77 non-null     int64
 1   circuitref  77 non-null     object
 2   lat         77 non-null     float64
 3   lng         77 non-null     float64
 4   alt         77 non-null     object
dtypes: float64(2), int64(1), object(2)
memory usage: 3.1+ KB

<h4 style="color: #F70206;">Data to csv</h4>

In [20]:
df.to_csv('circuits clean.csv', index=False)