<h1 style="color: #F70206; text-shadow: 2px 2px 4px #000000; border: 1px solid #000000; font-size: 60px; text-align: center; background-color: #A1A1A3;"> üèéÔ∏è FORMULA 1: LAP TIMES üèéÔ∏è </h1>

<h1 style="color: #F70206; text-shadow: 2px 2px 4px #000000; border: 1px solid #000000; font-size: 36px;">00 | First Steps </h1>

In [1]:
import pandas as pd                                      # üòÄ Importa la biblioteca pandas y la renombra como pd para su uso en el c√≥digo.
import matplotlib.pyplot as plt                          # üìä Importa la biblioteca matplotlib.pyplot y la renombra como plt para su uso en el c√≥digo.
import seaborn as sns                                    # üìà Importa la biblioteca seaborn para gr√°ficos estad√≠sticos.
import numpy as np                                       # üî¢ Importa la biblioteca numpy y la renombra como np para su uso en el c√≥digo.
from scipy.stats import chi2_contingency                 # üìä Importa la funci√≥n chi2_contingency de la biblioteca scipy.stats para realizar pruebas de independencia.
from scipy.stats.contingency import association          # üìä Importa la funci√≥n association de la biblioteca scipy.stats.contingency para calcular medidas de asociaci√≥n en tablas de contingencia.
import statsmodels.api as sm                             # üìà Importa la biblioteca statsmodels.api para an√°lisis estad√≠stico y modelado.
import scipy.stats as st                                 # üî¨ Importa la biblioteca scipy.stats para distribuciones y pruebas estad√≠sticas.
from sklearn.model_selection import train_test_split     # üõ†Ô∏è Importa la funci√≥n train_test_split de la biblioteca sklearn.model_selection para dividir datos en conjuntos de entrenamiento y prueba.
from sklearn.linear_model import LinearRegression        # üìà Importa el modelo de regresi√≥n lineal de la biblioteca sklearn.linear_model.
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error  # üìä Importa m√©tricas de evaluaci√≥n de modelos de la biblioteca sklearn.metrics.
from sklearn.linear_model import Ridge                   # üìà Importa el modelo de regresi√≥n Ridge de la biblioteca sklearn.linear_model.
from sklearn.linear_model import Lasso                   # üìà Importa el modelo de regresi√≥n Lasso de la biblioteca sklearn.linear_model.
from sklearn.tree import DecisionTreeRegressor           # üå≥ Importa el modelo de regresi√≥n de √°rbol de decisi√≥n de la biblioteca sklearn.tree.
from sklearn.neighbors import KNeighborsRegressor        # üè† Importa el modelo de regresi√≥n de vecinos m√°s cercanos de la biblioteca sklearn.neighbors.
from sklearn.preprocessing import MinMaxScaler           # üìè Importa la clase MinMaxScaler de la biblioteca sklearn.preprocessing para escalar caracter√≠sticas al rango [0, 1].
from sklearn.preprocessing import StandardScaler         # üìè Importa la clase StandardScaler de la biblioteca sklearn.preprocessing para estandarizar caracter√≠sticas eliminando la media y escalando a la varianza unitaria.
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.utils import resample
import xgboost as xgb                                    # üöÄ Importa la biblioteca xgboost para el modelado de gradient boosting.
import warnings                                          # ‚ö†Ô∏è Importa la biblioteca warnings para manejar advertencias.
from datetime import datetime                            # üìÖ Importa la clase datetime de la biblioteca datetime para trabajar con fechas y horas.
from sklearn import preprocessing                        # üõ†Ô∏è Importa el m√≥dulo preprocessing de la biblioteca sklearn para realizar preprocesamiento de datos.

<div class="alert alert-block alert-info" style="background-color: rgba(247, 2, 6, 0.2); color: black;">
    <strong>Tip #1</strong> RELLENAR!
</div>

<h4 style="color: #F70206;">Other settings</h4>

In [2]:
warnings.filterwarnings("ignore")
%matplotlib inline
pd.set_option('display.max_columns', None)

<h4 style="color: #F70206;">Data Extraction</h4>

In [3]:
data = pd.read_csv("dfq1.csv")

<h4 style="color: #F70206;">Exploring the Data (First Impression)</h4>

In [4]:
circuitos_2024 = ['bahrain',
                'Yeda',
                'Albert Park',
                'Suzuka',
                'Shanghai',
                'Miami',
                'Imola',
                'Monaco',
                'Villeneuve',
                'Catalunya',
                'Red Bull Ring',
                'Silverstone',
                'Hungaroring',
                'Spa',
                'Zandvoort',
                'Monza',
                'Baku',
                'marina bay',
                'Americas',
                'Rodriguez',
                'Interlagos',
                'Vegas',
                'Losail',
                'yas marina']

In [5]:
circuitos_2024 = [circuito.lower().replace(' ', '_') for circuito in circuitos_2024]

In [6]:
circuitos_2024

['bahrain',
 'yeda',
 'albert_park',
 'suzuka',
 'shanghai',
 'miami',
 'imola',
 'monaco',
 'villeneuve',
 'catalunya',
 'red_bull_ring',
 'silverstone',
 'hungaroring',
 'spa',
 'zandvoort',
 'monza',
 'baku',
 'marina_bay',
 'americas',
 'rodriguez',
 'interlagos',
 'vegas',
 'losail',
 'yas_marina']

In [7]:
len(circuitos_2024)* 20

480

In [8]:
data.circuitref.nunique()

26

In [9]:
data

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,q1
0,9116,1051,1,131,1,2021,20,78,losail,81901.0
1,9134,1051,854,210,19,2021,20,78,losail,83407.0
2,9133,1051,841,51,18,2021,20,78,losail,83262.0
3,9132,1051,849,3,17,2021,20,78,losail,83213.0
4,9131,1051,8,51,16,2021,20,78,losail,83156.0
...,...,...,...,...,...,...,...,...,...,...
1114,9854,1110,844,6,2,2023,12,13,spa,118300.0
1115,9853,1110,830,9,1,2023,12,13,spa,118515.0
1116,9871,1110,817,213,19,2023,12,13,spa,122159.0
1117,9861,1110,4,117,9,2023,12,13,spa,118834.0
1118,9872,1110,807,210,20,2023,12,13,spa,123166.0

In [10]:
df = data.copy()

In [11]:
adafe = df[df["circuitref"] == "bahrain"]
adafe[40:60]

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,q1
879,9645,1098,855,51,13,2023,1,3,bahrain,91615.0
880,9652,1098,842,214,20,2023,1,3,bahrain,92181.0
881,9651,1098,856,213,19,2023,1,3,bahrain,92121.0
882,9650,1098,857,1,18,2023,1,3,bahrain,92101.0
883,9649,1098,825,210,17,2023,1,3,bahrain,91892.0
884,9648,1098,858,3,16,2023,1,3,bahrain,91652.0
885,9647,1098,848,3,15,2023,1,3,bahrain,91461.0
886,9646,1098,852,213,14,2023,1,3,bahrain,91400.0
887,9644,1098,822,51,12,2023,1,3,bahrain,91504.0
888,9643,1098,846,1,11,2023,1,3,bahrain,91652.0
889,9633,1098,830,9,1,2023,1,3,bahrain,91295.0
890,9634,1098,815,9,2,2023,1,3,bahrain,91479.0
891,9635,1098,844,6,3,2023,1,3,bahrain,91094.0
892,9636,1098,832,6,4,2023,1,3,bahrain,90993.0
893,9637,1098,4,117,5,2023,1,3,bahrain,91158.0
894,9642,1098,807,210,10,2023,1,3,bahrain,91204.0
895,9639,1098,1,131,7,2023,1,3,bahrain,91543.0
896,9640,1098,840,117,8,2023,1,3,bahrain,91184.0
897,9641,1098,839,214,9,2023,1,3,bahrain,91508.0
898,9638,1098,847,131,6,2023,1,3,bahrain,91057.0

dfbahrain = df[df["circuitref"] == "bahrain"]
dfbahrain

<h4 style="color: #F70206;">DF PREPARATION</h4>

<h6 style="color: #F70206;">SORTING THE DF BY RACEID AND Q1 TIME IN ASCENDING ORDER</h6>

In [12]:
valores_unicos = df['raceid'].unique()
df_ordenado_posicion = pd.DataFrame()
for raceid in valores_unicos:
    df_temporal = df[df['raceid'] == raceid].copy()
    df_temporal.sort_values(by='q1', inplace=True)
    df_temporal['position_final'] = range(1, len(df_temporal) + 1)
    df_ordenado_posicion = pd.concat([df_ordenado_posicion, df_temporal])
df = df_ordenado_posicion

dfbahrain = df[df["circuitref"] == "bahrain"]
dfbahrain

<h6 style="color: #F70206;">DATA ENGINEERING</h6>

df_agrupado = df_ordenado_posicion.groupby(['raceid', 'constructorid'])['position'].mean().reset_index()
df_agrupado.rename(columns={'position': 'car_condition'}, inplace=True)
df_final = pd.merge(df_ordenado_posicion, df_agrupado, on=['raceid', 'constructorid'], how='left')
df = df_final

df["car_condition"] = ((21 - df["car_condition"]) / 20) * 100

df["driver_condition"] = ((21 - df["position"]) / 20) * 100

<h6 style="color: #F70206;">COLUMNS REORDER</h6>

In [13]:
df.columns

Index(['qualifyid', 'raceid', 'driverid', 'constructorid', 'position_final',
       'year', 'round', 'circuitid', 'circuitref', 'q1'],
      dtype='object')

In [14]:
column_order = ['qualifyid', 'raceid', 'driverid', 'constructorid', 'position_final', 'year',
       'round', 'circuitid', 'circuitref', 'car_condition',
       'driver_condition', 'q1']
df = df.reindex(columns=column_order)

<h6 style="color: #F70206;">CREATING DF BY RACES</h6>

In [15]:
df["circuitref"].unique()

array(['losail', 'bahrain', 'imola', 'portimao', 'catalunya', 'monaco',
       'baku', 'red_bull_ring', 'ricard', 'silverstone', 'hungaroring',
       'spa', 'zandvoort', 'monza', 'sochi', 'istanbul', 'americas',
       'rodriguez', 'interlagos', 'jeddah', 'yas_marina', 'albert_park',
       'miami', 'villeneuve', 'marina_bay', 'suzuka'], dtype=object)

In [16]:
for circuito in df['circuitref'].unique():
    globals()[f'df_{circuito}'] = df[df['circuitref'] == circuito].copy()

In [17]:
# Supongamos que ya tienes un DataFrame llamado df y una columna deseada llamada 'columna_deseada'
# Calcula cu√°ntas veces se debe agregar 20 al valor de la columna deseada
repeticiones = 24

# Valor inicial para la nueva asignaci√≥n
nuevo_valor = 1111

# Lista para almacenar las nuevas filas
nuevas_filas = []

# Itera sobre el rango de repeticiones
for _ in range(repeticiones):
    # A√±ade 20 filas nuevas al DataFrame
    for _ in range(20):
        # Crea una nueva fila y a√±√°dela a la lista de nuevas filas
        nuevas_filas.append({'raceid': nuevo_valor})
    
    # Incrementa el valor para la siguiente repetici√≥n
    nuevo_valor += 1

# Convierte la lista de nuevas filas en un DataFrame
nuevas_filas_df = pd.DataFrame(nuevas_filas)

# Concatena el DataFrame original con el DataFrame de nuevas filas
df1 = pd.concat([df, nuevas_filas_df], ignore_index=True)

# Verifica el DataFrame actualizado
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,NaN,NaN,81901.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,NaN,NaN,81996.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,NaN,NaN,82016.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,NaN,NaN,82304.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,NaN,NaN,82398.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,NaN,1134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1595,NaN,1134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1596,NaN,1134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1597,NaN,1134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1598,NaN,1134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df1['qualifyid'] = df1['qualifyid'].fillna(method='ffill') + df1['qualifyid'].isna().cumsum()
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,NaN,NaN,81901.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,NaN,NaN,81996.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,NaN,NaN,82016.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,NaN,NaN,82304.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,NaN,NaN,82398.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1595,10349.0,1134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1596,10350.0,1134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1597,10351.0,1134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1598,10352.0,1134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
circuitos_2024 = ['bahrain','jeddah','albert_park','suzuka','shanghai','miami','imola','monaco',
 'villeneuve','catalunya','red_bull_ring','silverstone', 'hungaroring','spa','zandvoort','monza','baku',
 'marina_bay','americas','rodriguez','interlagos','vegas','losail','yas_marina']

In [20]:
circuitos_2024_indices = {circuito: indice + 1 for indice, circuito in enumerate(circuitos_2024)}
circuitos_2024_indices

{'bahrain': 1,
 'jeddah': 2,
 'albert_park': 3,
 'suzuka': 4,
 'shanghai': 5,
 'miami': 6,
 'imola': 7,
 'monaco': 8,
 'villeneuve': 9,
 'catalunya': 10,
 'red_bull_ring': 11,
 'silverstone': 12,
 'hungaroring': 13,
 'spa': 14,
 'zandvoort': 15,
 'monza': 16,
 'baku': 17,
 'marina_bay': 18,
 'americas': 19,
 'rodriguez': 20,
 'interlagos': 21,
 'vegas': 22,
 'losail': 23,
 'yas_marina': 24}

In [21]:
lista_driverid = [844., 830.,   1., 832.,   4., 857., 815., 847., 852., 822., 842.,
       839., 840., 846., 825., 848., 855., 858., 817., 807.]

In [22]:
len(lista_driverid)

20

In [23]:
driverid_constructorid = {844.: 6.0, 830.: 9.0,   1.: 131.0, 832.: 6.0,
                4.: 117.0, 857.: 1.0, 815.: 9.0, 847.: 131.0, 852.: 213.0, 822.: 51.0, 842.: 214.0,
       839.: 214.0, 840.: 117.0, 846.: 1.0, 825.: 210.0, 848.: 3.0, 855.: 51.0, 858.: 3.0, 817.: 213.0, 807.: 213.0}

In [24]:
# Repetir la lista_driverid 26 veces
lista_driverid_repetida = np.tile(lista_driverid, 26)

# Contar cu√°ntos valores NaN hay en la columna "driverid"
num_nan = df1['driverid'].isnull().sum()

# Asegurarse de que hay suficientes valores en la lista repetida para reemplazar todos los NaN
if len(lista_driverid_repetida) < num_nan:
    raise ValueError("La lista_driverid no tiene suficientes elementos para rellenar todos los NaN.")

# Obtener la m√°scara booleana para los NaN en la columna "driverid"
nan_mask = df1['driverid'].isnull()

# Rellenar los NaN en la columna "driverid" con los valores de la lista_driverid_repetida
df1.loc[nan_mask, 'driverid'] = lista_driverid_repetida[:num_nan]

# Verificar el DataFrame actualizado
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,NaN,NaN,81901.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,NaN,NaN,81996.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,NaN,NaN,82016.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,NaN,NaN,82304.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,NaN,NaN,82398.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1595,10349.0,1134,855.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1596,10350.0,1134,858.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1597,10351.0,1134,817.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1598,10352.0,1134,807.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df1['constructorid'] = df1['constructorid'].fillna(df1['driverid'].map(driverid_constructorid))
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,NaN,NaN,81901.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,NaN,NaN,81996.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,NaN,NaN,82016.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,NaN,NaN,82304.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,NaN,NaN,82398.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1595,10349.0,1134,855.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1596,10350.0,1134,858.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1597,10351.0,1134,817.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1598,10352.0,1134,807.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# Seleccionar todas las filas donde el valor en la columna 'constructorid' sea igual a 131
filt = df1['constructorid'] == 9

# Seleccionar la columna 'diverid' basada en el filtro anterior
valores_driverid = df1.loc[filt, 'driverid']

# Mostrar los valores √∫nicos de la columna 'diverid'
valores_driverid_unicos = valores_driverid.unique()

print(valores_driverid_unicos)

[830. 815.]

In [27]:
df1['year'] = df1['year'].fillna(2024)
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,NaN,NaN,81901.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,NaN,NaN,81996.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,NaN,NaN,82016.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,NaN,NaN,82304.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,NaN,NaN,82398.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1595,10349.0,1134,855.0,51.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1596,10350.0,1134,858.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1597,10351.0,1134,817.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1598,10352.0,1134,807.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,NaN,NaN,81901.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,NaN,NaN,81996.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,NaN,NaN,82016.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,NaN,NaN,82304.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,NaN,NaN,82398.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1595,10349.0,1134,855.0,51.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1596,10350.0,1134,858.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1597,10351.0,1134,817.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1598,10352.0,1134,807.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
circuitos_2024 = ['bahrain','albert_park','suzuka','shanghai','miami','imola','monaco',
 'villeneuve','catalunya','red_bull_ring','silverstone', 'hungaroring','spa','zandvoort','monza','baku',
 'marina_bay','americas','rodriguez','interlagos','vegas','losail','yas_marina']

In [30]:
lista_20 = []
for circuit in circuitos_2024:
    for i in range(0,20):
        lista_20.append(circuit)
lista_20

['bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'bahrain',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'albert_park',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'suzuka',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'shanghai',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'miami',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'imola',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'monaco',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'villeneuve',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'catalunya',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'red_bull_ring',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'silverstone',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'hungaroring',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'spa',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'zandvoort',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'monza',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'baku',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'marina_bay',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'americas',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'rodriguez',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'interlagos',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'vegas',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'losail',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina',
 'yas_marina']

In [31]:
# Suponiendo que 'df' es tu DataFrame y 'lista_20' contiene los valores a asignar

# Verificar si la longitud de la lista_20 es suficiente para llenar desde el √≠ndice 1119
if len(lista_20) >= len(df1) - 1119:
    df1.loc[1119:, 'circuitref'] = lista_20[:len(df1) - 1119]
else:
    print("La longitud de lista_20 no es suficiente para llenar desde el √≠ndice 1119.")

La longitud de lista_20 no es suficiente para llenar desde el √≠ndice 1119.

In [32]:
dfbahrain = df1[df1["circuitref"] == "bahrain"]
dfbahrain

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1
20,8735.0,1052,830.0,9.0,1.0,2021.0,1.0,3.0,bahrain,NaN,NaN,90499.0
21,8747.0,1052,852.0,213.0,2.0,2021.0,1.0,3.0,bahrain,NaN,NaN,90607.0
22,8736.0,1052,1.0,131.0,3.0,2021.0,1.0,3.0,bahrain,NaN,NaN,90617.0
23,8738.0,1052,844.0,6.0,4.0,2021.0,1.0,3.0,bahrain,NaN,NaN,90691.0
24,8740.0,1052,817.0,1.0,5.0,2021.0,1.0,3.0,bahrain,NaN,NaN,90795.0
25,8739.0,1052,842.0,213.0,6.0,2021.0,1.0,3.0,bahrain,NaN,NaN,90848.0
26,8743.0,1052,4.0,214.0,7.0,2021.0,1.0,3.0,bahrain,NaN,NaN,90863.0
27,8741.0,1052,846.0,1.0,8.0,2021.0,1.0,3.0,bahrain,NaN,NaN,90902.0
28,8746.0,1052,841.0,51.0,9.0,2021.0,1.0,3.0,bahrain,NaN,NaN,90998.0
29,8745.0,1052,815.0,9.0,10.0,2021.0,1.0,3.0,bahrain,NaN,NaN,91165.0
30,8737.0,1052,822.0,131.0,11.0,2021.0,1.0,3.0,bahrain,NaN,NaN,91200.0
31,8744.0,1052,840.0,117.0,12.0,2021.0,1.0,3.0,bahrain,NaN,NaN,91261.0
32,8749.0,1052,847.0,3.0,13.0,2021.0,1.0,3.0,bahrain,NaN,NaN,91316.0
33,8748.0,1052,8.0,51.0,14.0,2021.0,1.0,3.0,bahrain,NaN,NaN,91547.0
34,8742.0,1052,832.0,6.0,15.0,2021.0,1.0,3.0,bahrain,NaN,NaN,91653.0
35,8750.0,1052,839.0,214.0,16.0,2021.0,1.0,3.0,bahrain,NaN,NaN,91724.0
36,8751.0,1052,849.0,3.0,17.0,2021.0,1.0,3.0,bahrain,NaN,NaN,91936.0
37,8752.0,1052,20.0,117.0,18.0,2021.0,1.0,3.0,bahrain,NaN,NaN,92056.0
38,8753.0,1052,854.0,210.0,19.0,2021.0,1.0,3.0,bahrain,NaN,NaN,92449.0
39,8754.0,1052,853.0,210.0,20.0,2021.0,1.0,3.0,bahrain,NaN,NaN,93273.0
439,9176.0,1074,844.0,6.0,1.0,2022.0,1.0,3.0,bahrain,NaN,NaN,91471.0
440,9178.0,1074,832.0,6.0,2.0,2022.0,1.0,3.0,bahrain,NaN,NaN,91567.0
441,9177.0,1074,830.0,9.0,3.0,2022.0,1.0,3.0,bahrain,NaN,NaN,91785.0
442,9181.0,1074,822.0,51.0,4.0,2022.0,1.0,3.0,bahrain,NaN,NaN,91919.0
443,9182.0,1074,825.0,210.0,5.0,2022.0,1.0,3.0,bahrain,NaN,NaN,91955.0
444,9186.0,1074,839.0,214.0,6.0,2022.0,1.0,3.0,bahrain,NaN,NaN,92041.0
445,9185.0,1074,842.0,213.0,7.0,2022.0,1.0,3.0,bahrain,NaN,NaN,92096.0
446,9188.0,1074,846.0,1.0,8.0,2022.0,1.0,3.0,bahrain,NaN,NaN,92239.0
447,9184.0,1074,847.0,131.0,9.0,2022.0,1.0,3.0,bahrain,NaN,NaN,92269.0
448,9180.0,1074,1.0,131.0,10.0,2022.0,1.0,3.0,bahrain,NaN,NaN,92285.0
449,9179.0,1074,815.0,9.0,11.0,2022.0,1.0,3.0,bahrain,NaN,NaN,92311.0
450,9183.0,1074,4.0,214.0,12.0,2022.0,1.0,3.0,bahrain,NaN,NaN,92346.0
451,9187.0,1074,854.0,210.0,13.0,2022.0,1.0,3.0,bahrain,NaN,NaN,92380.0
452,9190.0,1074,855.0,51.0,14.0,2022.0,1.0,3.0,bahrain,NaN,NaN,92493.0
453,9189.0,1074,848.0,3.0,15.0,2022.0,1.0,3.0,bahrain,NaN,NaN,92726.0
454,9191.0,1074,852.0,213.0,16.0,2022.0,1.0,3.0,bahrain,NaN,NaN,92750.0
455,9192.0,1074,807.0,117.0,17.0,2022.0,1.0,3.0,bahrain,NaN,NaN,92777.0
456,9193.0,1074,817.0,1.0,18.0,2022.0,1.0,3.0,bahrain,NaN,NaN,92945.0
457,9194.0,1074,840.0,117.0,19.0,2022.0,1.0,3.0,bahrain,NaN,NaN,93032.0
458,9195.0,1074,849.0,3.0,20.0,2022.0,1.0,3.0,bahrain,NaN,NaN,93634.0
879,9636.0,1098,832.0,6.0,1.0,2023.0,1.0,3.0,bahrain,NaN,NaN,90993.0
880,9638.0,1098,847.0,131.0,2.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91057.0
881,9635.0,1098,844.0,6.0,3.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91094.0
882,9637.0,1098,4.0,117.0,4.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91158.0
883,9640.0,1098,840.0,117.0,5.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91184.0
884,9642.0,1098,807.0,210.0,6.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91204.0
885,9633.0,1098,830.0,9.0,7.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91295.0
886,9646.0,1098,852.0,213.0,8.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91400.0
887,9647.0,1098,848.0,3.0,9.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91461.0
888,9634.0,1098,815.0,9.0,10.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91479.0
889,9644.0,1098,822.0,51.0,11.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91504.0
890,9641.0,1098,839.0,214.0,12.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91508.0
891,9639.0,1098,1.0,131.0,13.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91543.0
892,9645.0,1098,855.0,51.0,14.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91615.0
893,9648.0,1098,858.0,3.0,15.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91652.0
894,9643.0,1098,846.0,1.0,16.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91652.0
895,9649.0,1098,825.0,210.0,17.0,2023.0,1.0,3.0,bahrain,NaN,NaN,91892.0
896,9650.0,1098,857.0,1.0,18.0,2023.0,1.0,3.0,bahrain,NaN,NaN,92101.0
897,9651.0,1098,856.0,213.0,19.0,2023.0,1.0,3.0,bahrain,NaN,NaN,92121.0
898,9652.0,1098,842.0,214.0,20.0,2023.0,1.0,3.0,bahrain,NaN,NaN,92181.0

In [33]:
df1.shape

(1599, 12)

In [34]:
df.shape

(1119, 12)

In [35]:
len(lista_20)

460

In [36]:

# Contador para rastrear la posici√≥n actual en la lista de circuitos
contador = 0

# Iterar sobre la lista de circuitos y reemplazar los NaN en el DataFrame
for circuito in circuitos_2024:
    # Obtener el √≠ndice de las filas donde circuitref es NaN
    indices_nulos = df1[df1['circuitref'].isnull()].index

    # Reemplazar los NaN con el valor del circuito actual
    df1.loc[indices_nulos[:20], 'circuitref'] = circuito

    # Eliminar los √≠ndices que ya se han utilizado
    indices_nulos = indices_nulos[20:]

    # Incrementar el contador
    contador += 1

# Asignar df_copia a df si est√°s satisfecho con los resultados
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,NaN,NaN,81901.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,NaN,NaN,81996.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,NaN,NaN,82016.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,NaN,NaN,82304.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,NaN,NaN,82398.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1595,10349.0,1134,855.0,51.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1596,10350.0,1134,858.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1597,10351.0,1134,817.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1598,10352.0,1134,807.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
dfbahrain = df1[df1["circuitref"] == "bahrain"]
dfbahrain

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1
20,8735.0,1052,830.0,9.0,1.0,2021.0,1.0,3.0,bahrain,NaN,NaN,90499.0
21,8747.0,1052,852.0,213.0,2.0,2021.0,1.0,3.0,bahrain,NaN,NaN,90607.0
22,8736.0,1052,1.0,131.0,3.0,2021.0,1.0,3.0,bahrain,NaN,NaN,90617.0
23,8738.0,1052,844.0,6.0,4.0,2021.0,1.0,3.0,bahrain,NaN,NaN,90691.0
24,8740.0,1052,817.0,1.0,5.0,2021.0,1.0,3.0,bahrain,NaN,NaN,90795.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1134,9888.0,1111,848.0,3.0,NaN,2024.0,NaN,NaN,bahrain,NaN,NaN,NaN
1135,9889.0,1111,855.0,51.0,NaN,2024.0,NaN,NaN,bahrain,NaN,NaN,NaN
1136,9890.0,1111,858.0,3.0,NaN,2024.0,NaN,NaN,bahrain,NaN,NaN,NaN
1137,9891.0,1111,817.0,213.0,NaN,2024.0,NaN,NaN,bahrain,NaN,NaN,NaN
1138,9892.0,1111,807.0,213.0,NaN,2024.0,NaN,NaN,bahrain,NaN,NaN,NaN

In [38]:
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,NaN,NaN,81901.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,NaN,NaN,81996.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,NaN,NaN,82016.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,NaN,NaN,82304.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,NaN,NaN,82398.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1595,10349.0,1134,855.0,51.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1596,10350.0,1134,858.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1597,10351.0,1134,817.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1598,10352.0,1134,807.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df1['round'] = df1['round'].fillna(df1['circuitref'].map(circuitos_2024_indices))
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,NaN,NaN,81901.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,NaN,NaN,81996.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,NaN,NaN,82016.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,NaN,NaN,82304.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,NaN,NaN,82398.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1595,10349.0,1134,855.0,51.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1596,10350.0,1134,858.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1597,10351.0,1134,817.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1598,10352.0,1134,807.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
circuitref_to_circuitid = {}
for index, row in df.iterrows():
    circuitref = row['circuitref']
    circuitid = row['circuitid']
    circuitref_to_circuitid[circuitref] = circuitid
circuitref_to_circuitid

{'losail': 78,
 'bahrain': 3,
 'imola': 21,
 'portimao': 75,
 'catalunya': 4,
 'monaco': 6,
 'baku': 73,
 'red_bull_ring': 70,
 'ricard': 34,
 'silverstone': 9,
 'hungaroring': 11,
 'spa': 13,
 'zandvoort': 39,
 'monza': 14,
 'sochi': 71,
 'istanbul': 5,
 'americas': 69,
 'rodriguez': 32,
 'interlagos': 18,
 'jeddah': 77,
 'yas_marina': 24,
 'albert_park': 1,
 'miami': 79,
 'villeneuve': 7,
 'marina_bay': 15,
 'suzuka': 22}

In [41]:
claves_diccionario = set(circuitref_to_circuitid.keys())
claves_lista = set(circuitos_2024)
claves_faltantes = claves_lista - claves_diccionario
if claves_faltantes:
    print("Las siguientes claves no est√°n en el diccionario:")
    for clave in claves_faltantes:
        print(clave)
else:
    print("Todas las claves de la lista est√°n en el diccionario.")

Las siguientes claves no est√°n en el diccionario:
vegas
shanghai

In [42]:
circuitref_to_circuitid = {'losail': 78,"yeda": 80, "vegas": 81, "shangai": 82, 'bahrain': 3,'imola': 21,'portimao': 75,'catalunya': 4,
 'monaco': 6,'baku': 73,'red_bull_ring': 70,'ricard': 34,'silverstone': 9,'hungaroring': 11,
 'spa': 13,'zandvoort': 39,'monza': 14,'sochi': 71,'istanbul': 5,'americas': 69,'rodriguez': 32,
 'interlagos': 18,'jeddah': 77,'yas_marina': 24,'albert_park': 1,'miami': 79,'villeneuve': 7,
 'marina_bay': 15,'suzuka': 22}
circuitos_2024 = ['bahrain','yeda','albert_park','suzuka','shanghai','miami','imola','monaco',
 'villeneuve','catalunya','red_bull_ring','silverstone', 'hungaroring','spa','zandvoort','monza','baku',
 'marina_bay','americas','rodriguez','interlagos','vegas','losail','yas_marina']

In [43]:
df1['circuitid'] = df1['circuitid'].fillna(df1['circuitref'].map(circuitref_to_circuitid))
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,NaN,NaN,81901.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,NaN,NaN,81996.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,NaN,NaN,82016.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,NaN,NaN,82304.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,NaN,NaN,82398.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1595,10349.0,1134,855.0,51.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1596,10350.0,1134,858.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1597,10351.0,1134,817.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1598,10352.0,1134,807.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df1['circuitid'] = df1['circuitref'].map(circuitref_to_circuitid)
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,NaN,NaN,81901.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,NaN,NaN,81996.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,NaN,NaN,82016.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,NaN,NaN,82304.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,NaN,NaN,82398.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1595,10349.0,1134,855.0,51.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1596,10350.0,1134,858.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1597,10351.0,1134,817.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN
1598,10352.0,1134,807.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df1['position_q1'] = df1.groupby(['circuitref', 'year'])['q1'].rank()
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1,position_q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,NaN,NaN,81901.0,1.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,NaN,NaN,81996.0,2.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,NaN,NaN,82016.0,3.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,NaN,NaN,82304.0,4.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,NaN,NaN,82398.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1595,10349.0,1134,855.0,51.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1596,10350.0,1134,858.0,3.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1597,10351.0,1134,817.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1598,10352.0,1134,807.0,213.0,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
df1['position_q1'] = df1['position_q1'].fillna(0)

In [47]:
df1['position_final'] = df1['position_final'].fillna(0)

In [48]:
df1['circuitref'].isnull().sum()

20

In [49]:
df1['driverid'].isnull().sum()

0

In [50]:
df1['previous_year_position_q1'] = df1.groupby(['circuitref', 'driverid'])['position_q1'].shift()
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1,position_q1,previous_year_position_q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,NaN,NaN,81901.0,1.0,NaN
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,NaN,NaN,81996.0,2.0,NaN
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,NaN,NaN,82016.0,3.0,NaN
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,NaN,NaN,82304.0,4.0,NaN
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,NaN,NaN,82398.0,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,0.0,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1595,10349.0,1134,855.0,51.0,0.0,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1596,10350.0,1134,858.0,3.0,0.0,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1597,10351.0,1134,817.0,213.0,0.0,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1598,10352.0,1134,807.0,213.0,0.0,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [51]:
df1['previous_year_position_q1'].value_counts()

previous_year_position_q1
5.0     50
7.0     49
3.0     49
10.0    48
2.0     48
4.0     47
8.0     47
1.0     47
6.0     47
9.0     45
14.0    44
13.0    44
11.0    42
12.0    42
17.0    41
18.0    40
16.0    39
15.0    35
19.0    34
20.0    17
11.5     4
8.5      4
1.5      3
3.5      2
29.5     2
15.5     2
31.0     1
22.0     1
34.0     1
23.0     1
26.0     1
24.0     1
36.0     1
21.0     1
40.0     1
35.0     1
28.0     1
37.0     1
33.0     1
25.0     1
39.0     1
32.0     1
Name: count, dtype: int64

In [52]:
df1['previous_year_position_q1'].value_counts()

previous_year_position_q1
5.0     50
7.0     49
3.0     49
10.0    48
2.0     48
4.0     47
8.0     47
1.0     47
6.0     47
9.0     45
14.0    44
13.0    44
11.0    42
12.0    42
17.0    41
18.0    40
16.0    39
15.0    35
19.0    34
20.0    17
11.5     4
8.5      4
1.5      3
3.5      2
29.5     2
15.5     2
31.0     1
22.0     1
34.0     1
23.0     1
26.0     1
24.0     1
36.0     1
21.0     1
40.0     1
35.0     1
28.0     1
37.0     1
33.0     1
25.0     1
39.0     1
32.0     1
Name: count, dtype: int64

In [53]:
df1.previous_year_position_q1 = df1.previous_year_position_q1.fillna(20)
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1,position_q1,previous_year_position_q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,NaN,NaN,81901.0,1.0,20.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,NaN,NaN,81996.0,2.0,20.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,NaN,NaN,82016.0,3.0,20.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,NaN,NaN,82304.0,4.0,20.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,NaN,NaN,82398.0,5.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,0.0,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,20.0
1595,10349.0,1134,855.0,51.0,0.0,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,20.0
1596,10350.0,1134,858.0,3.0,0.0,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,20.0
1597,10351.0,1134,817.0,213.0,0.0,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,20.0
1598,10352.0,1134,807.0,213.0,0.0,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,20.0

In [54]:
df1["driver_condition"] = ((20 - df1["position_final"]) / 20) * 100
df1.driver_condition = df1.driver_condition.fillna(0)
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1,position_q1,previous_year_position_q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,NaN,95.0,81901.0,1.0,20.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,NaN,90.0,81996.0,2.0,20.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,NaN,85.0,82016.0,3.0,20.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,NaN,80.0,82304.0,4.0,20.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,NaN,75.0,82398.0,5.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,0.0,2024.0,NaN,NaN,NaN,NaN,100.0,NaN,0.0,20.0
1595,10349.0,1134,855.0,51.0,0.0,2024.0,NaN,NaN,NaN,NaN,100.0,NaN,0.0,20.0
1596,10350.0,1134,858.0,3.0,0.0,2024.0,NaN,NaN,NaN,NaN,100.0,NaN,0.0,20.0
1597,10351.0,1134,817.0,213.0,0.0,2024.0,NaN,NaN,NaN,NaN,100.0,NaN,0.0,20.0
1598,10352.0,1134,807.0,213.0,0.0,2024.0,NaN,NaN,NaN,NaN,100.0,NaN,0.0,20.0

In [55]:
df1['driver_condition'].value_counts()

driver_condition
100.0    480
90.0      56
5.0       56
10.0      56
15.0      56
20.0      56
25.0      56
30.0      56
35.0      56
40.0      56
95.0      56
50.0      56
55.0      56
60.0      56
65.0      56
70.0      56
75.0      56
80.0      56
85.0      56
45.0      56
0.0       55
Name: count, dtype: int64

In [56]:
df1['car_condition'] = df1.groupby(['constructorid', 'year', 'circuitref'])['driver_condition'].transform('sum') / 2
df1.car_condition = df1.car_condition.fillna(0)
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,q1,position_q1,previous_year_position_q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,90.0,95.0,81901.0,1.0,20.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,82.5,90.0,81996.0,2.0,20.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,90.0,85.0,82016.0,3.0,20.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,57.5,80.0,82304.0,4.0,20.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,82.5,75.0,82398.0,5.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,NaN,0.0,20.0
1595,10349.0,1134,855.0,51.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,NaN,0.0,20.0
1596,10350.0,1134,858.0,3.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,NaN,0.0,20.0
1597,10351.0,1134,817.0,213.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,NaN,0.0,20.0
1598,10352.0,1134,807.0,213.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,NaN,0.0,20.0

In [57]:
df1.columns

Index(['qualifyid', 'raceid', 'driverid', 'constructorid', 'position_final',
       'year', 'round', 'circuitid', 'circuitref', 'car_condition',
       'driver_condition', 'q1', 'position_q1', 'previous_year_position_q1'],
      dtype='object')

In [58]:
column_order = ['qualifyid', 'raceid', 'driverid', 'constructorid', 'position_final',
       'year', 'round', 'circuitid', 'circuitref', 'car_condition',
       'driver_condition', 'position_q1', 'previous_year_position_q1', 'q1']
df1 = df1.reindex(columns=column_order)

In [59]:
# Diccionario original con los tiempos de vuelta en minutos y segundos
circuitref_fastlap = {
    'losail': "1:23.778",
    "yeda": "1:28.265",
    "vegas": "1:32.726",
    "shangai": "1:31.547",
    'bahrain': "1:29.708",
    'imola': "1:18.793",
    'portimao': "1:16.466",
    'catalunya': "1:12.272",
    'monaco': "1:11.365",
    'baku': "1:40.203",
    'red_bull_ring': "1:04.391",
    'ricard': "1:30.872",
    'silverstone': "1:26.720",
    'hungaroring': "1:16.609",
    'spa': "1:43.665",
    'zandvoort': "1:10.567",
    'monza': "1:20.294",
    'sochi': "1:41.993",
    'istanbul': "1:22.998",
    'americas': "1:34.723",
    'rodriguez': "1:17.166",
    'interlagos': "1:10.162",
    'jeddah': "1:28.265",
    'yas_marina': "1:23.445",
    'albert_park': "1:16.732",
    'miami': "1:26.841",
    'villeneuve': "1:19.092",
    'marina_bay': "1:30.984",
    'suzuka': "1:28.877"
}

# Convertir los tiempos de vuelta de "mm:ss.sss" a segundos
circuitref_fastlap_segundos = {}
for circuito, tiempo in circuitref_fastlap.items():
    minutos, segundos = map(float, tiempo.split(':'))
    tiempo_en_segundos = minutos * 60 + segundos
    circuitref_fastlap_segundos[circuito] = tiempo_en_segundos

circuitref_fastlap = circuitref_fastlap_segundos
circuitref_fastlap = {circuito: int(tiempo * 1000) for circuito, tiempo in circuitref_fastlap.items()}
circuitref_fastlap

{'losail': 83777,
 'yeda': 88265,
 'vegas': 92726,
 'shangai': 91547,
 'bahrain': 89708,
 'imola': 78793,
 'portimao': 76466,
 'catalunya': 72272,
 'monaco': 71365,
 'baku': 100203,
 'red_bull_ring': 64391,
 'ricard': 90872,
 'silverstone': 86720,
 'hungaroring': 76609,
 'spa': 103664,
 'zandvoort': 70567,
 'monza': 80294,
 'sochi': 101993,
 'istanbul': 82998,
 'americas': 94723,
 'rodriguez': 77166,
 'interlagos': 70162,
 'jeddah': 88265,
 'yas_marina': 83445,
 'albert_park': 76732,
 'miami': 86841,
 'villeneuve': 79092,
 'marina_bay': 90984,
 'suzuka': 88877}

In [60]:
df1['circuitid'] = df1['circuitid'].fillna(df1['circuitref'].map(circuitref_to_circuitid))
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,position_q1,previous_year_position_q1,q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,90.0,95.0,1.0,20.0,81901.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,82.5,90.0,2.0,20.0,81996.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,90.0,85.0,3.0,20.0,82016.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,57.5,80.0,4.0,20.0,82304.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,82.5,75.0,5.0,20.0,82398.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,0.0,20.0,NaN
1595,10349.0,1134,855.0,51.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,0.0,20.0,NaN
1596,10350.0,1134,858.0,3.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,0.0,20.0,NaN
1597,10351.0,1134,817.0,213.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,0.0,20.0,NaN
1598,10352.0,1134,807.0,213.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,0.0,20.0,NaN

In [61]:
df1['circuitref_fastlap'] = df1['circuitref'].map(circuitref_fastlap)
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,position_q1,previous_year_position_q1,q1,circuitref_fastlap
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,90.0,95.0,1.0,20.0,81901.0,83777.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,82.5,90.0,2.0,20.0,81996.0,83777.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,90.0,85.0,3.0,20.0,82016.0,83777.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,57.5,80.0,4.0,20.0,82304.0,83777.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,82.5,75.0,5.0,20.0,82398.0,83777.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,0.0,20.0,NaN,NaN
1595,10349.0,1134,855.0,51.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,0.0,20.0,NaN,NaN
1596,10350.0,1134,858.0,3.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,0.0,20.0,NaN,NaN
1597,10351.0,1134,817.0,213.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,0.0,20.0,NaN,NaN
1598,10352.0,1134,807.0,213.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,0.0,20.0,NaN,NaN

In [62]:
df1["driver_time_vs_fastlap"] = df1["q1"] - df1["circuitref_fastlap"]

In [63]:
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,position_q1,previous_year_position_q1,q1,circuitref_fastlap,driver_time_vs_fastlap
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,90.0,95.0,1.0,20.0,81901.0,83777.0,-1876.0
1,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,82.5,90.0,2.0,20.0,81996.0,83777.0,-1781.0
2,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,90.0,85.0,3.0,20.0,82016.0,83777.0,-1761.0
3,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,57.5,80.0,4.0,20.0,82304.0,83777.0,-1473.0
4,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,82.5,75.0,5.0,20.0,82398.0,83777.0,-1379.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,10348.0,1134,848.0,3.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,0.0,20.0,NaN,NaN,NaN
1595,10349.0,1134,855.0,51.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,0.0,20.0,NaN,NaN,NaN
1596,10350.0,1134,858.0,3.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,0.0,20.0,NaN,NaN,NaN
1597,10351.0,1134,817.0,213.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,0.0,20.0,NaN,NaN,NaN
1598,10352.0,1134,807.0,213.0,0.0,2024.0,NaN,NaN,NaN,0.0,100.0,0.0,20.0,NaN,NaN,NaN

In [64]:
car_time_vs_fastlap = df1.groupby(['constructorid', "year", 'circuitref'])['driver_time_vs_fastlap'].mean()
car_time_vs_fastlap = car_time_vs_fastlap.reset_index()
df1 = pd.merge(df1, car_time_vs_fastlap, on=['constructorid', "year", 'circuitref'], suffixes=('', '_mean'))
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,position_q1,previous_year_position_q1,q1,circuitref_fastlap,driver_time_vs_fastlap,driver_time_vs_fastlap_mean
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,90.0,95.0,1.0,20.0,81901.0,83777.0,-1876.0,-1818.5
1,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,90.0,85.0,3.0,20.0,82016.0,83777.0,-1761.0,-1818.5
2,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,82.5,90.0,2.0,20.0,81996.0,83777.0,-1781.0,-1580.0
3,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,82.5,75.0,5.0,20.0,82398.0,83777.0,-1379.0,-1580.0
4,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,57.5,80.0,4.0,20.0,82304.0,83777.0,-1473.0,-1254.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1574,10323.0,1133,842.0,214.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,17.0,NaN,83445.0,NaN,NaN
1575,10324.0,1133,839.0,214.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,12.0,NaN,83445.0,NaN,NaN
1576,10327.0,1133,825.0,210.0,0.0,2024.0,24.0,24.0,yas_marina,50.0,100.0,0.0,16.0,NaN,83445.0,NaN,NaN
1577,10328.0,1133,848.0,3.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,19.0,NaN,83445.0,NaN,NaN
1578,10330.0,1133,858.0,3.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,20.0,NaN,83445.0,NaN,NaN

In [65]:
# Cambiar el nombre de una columna usando el m√©todo rename
df1 = df1.rename(columns={'driver_time_vs_fastlap_mean': 'car_time_vs_fastlap'})

In [66]:
df1.columns

Index(['qualifyid', 'raceid', 'driverid', 'constructorid', 'position_final',
       'year', 'round', 'circuitid', 'circuitref', 'car_condition',
       'driver_condition', 'position_q1', 'previous_year_position_q1', 'q1',
       'circuitref_fastlap', 'driver_time_vs_fastlap', 'car_time_vs_fastlap'],
      dtype='object')

In [67]:
column_order = ['qualifyid', 'raceid', 'driverid', 'constructorid', 'position_final',
       'year', 'round', 'circuitid', 'circuitref', 'car_condition',
       'driver_condition', 'position_q1', 'previous_year_position_q1',
       'circuitref_fastlap', 'driver_time_vs_fastlap', 'car_time_vs_fastlap', 'q1']
df1 = df1.reindex(columns=column_order)

df1 = df1.drop(df1.index[1599:1620])

In [68]:
df1['previous_driver_time_vs_fastlap'] = df1.groupby(['circuitref', 'driverid'])['driver_time_vs_fastlap'].shift()
df1.previous_driver_time_vs_fastlap = df1.previous_driver_time_vs_fastlap.fillna(0)
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,position_q1,previous_year_position_q1,circuitref_fastlap,driver_time_vs_fastlap,car_time_vs_fastlap,q1,previous_driver_time_vs_fastlap
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,90.0,95.0,1.0,20.0,83777.0,-1876.0,-1818.5,81901.0,0.0
1,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,90.0,85.0,3.0,20.0,83777.0,-1761.0,-1818.5,82016.0,0.0
2,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,82.5,90.0,2.0,20.0,83777.0,-1781.0,-1580.0,81996.0,0.0
3,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,82.5,75.0,5.0,20.0,83777.0,-1379.0,-1580.0,82398.0,0.0
4,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,57.5,80.0,4.0,20.0,83777.0,-1473.0,-1254.0,82304.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1574,10323.0,1133,842.0,214.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,17.0,83445.0,NaN,NaN,NaN,2414.0
1575,10324.0,1133,839.0,214.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,12.0,83445.0,NaN,NaN,NaN,2290.0
1576,10327.0,1133,825.0,210.0,0.0,2024.0,24.0,24.0,yas_marina,50.0,100.0,0.0,16.0,83445.0,NaN,NaN,NaN,2389.0
1577,10328.0,1133,848.0,3.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,19.0,83445.0,NaN,NaN,NaN,2583.0
1578,10330.0,1133,858.0,3.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,20.0,83445.0,NaN,NaN,NaN,0.0

In [69]:
df1['previous_car_time_vs_fastlap'] = df1.groupby(['circuitref', 'driverid'])['car_time_vs_fastlap'].shift()
df1.previous_car_time_vs_fastlap = df1.previous_car_time_vs_fastlap.fillna(0)
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,position_q1,previous_year_position_q1,circuitref_fastlap,driver_time_vs_fastlap,car_time_vs_fastlap,q1,previous_driver_time_vs_fastlap,previous_car_time_vs_fastlap
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,90.0,95.0,1.0,20.0,83777.0,-1876.0,-1818.5,81901.0,0.0,0.0
1,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,90.0,85.0,3.0,20.0,83777.0,-1761.0,-1818.5,82016.0,0.0,0.0
2,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,82.5,90.0,2.0,20.0,83777.0,-1781.0,-1580.0,81996.0,0.0,0.0
3,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,82.5,75.0,5.0,20.0,83777.0,-1379.0,-1580.0,82398.0,0.0,0.0
4,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,57.5,80.0,4.0,20.0,83777.0,-1473.0,-1254.0,82304.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1574,10323.0,1133,842.0,214.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,17.0,83445.0,NaN,NaN,NaN,2414.0,2299.5
1575,10324.0,1133,839.0,214.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,12.0,83445.0,NaN,NaN,NaN,2290.0,2313.5
1576,10327.0,1133,825.0,210.0,0.0,2024.0,24.0,24.0,yas_marina,50.0,100.0,0.0,16.0,83445.0,NaN,NaN,NaN,2389.0,2327.5
1577,10328.0,1133,848.0,3.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,19.0,83445.0,NaN,NaN,NaN,2583.0,2596.0
1578,10330.0,1133,858.0,3.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,20.0,83445.0,NaN,NaN,NaN,0.0,0.0

In [70]:
df1.columns

Index(['qualifyid', 'raceid', 'driverid', 'constructorid', 'position_final',
       'year', 'round', 'circuitid', 'circuitref', 'car_condition',
       'driver_condition', 'position_q1', 'previous_year_position_q1',
       'circuitref_fastlap', 'driver_time_vs_fastlap', 'car_time_vs_fastlap',
       'q1', 'previous_driver_time_vs_fastlap',
       'previous_car_time_vs_fastlap'],
      dtype='object')

In [71]:
column_order = ['qualifyid', 'raceid', 'driverid', 'constructorid', 'position_final',
       'year', 'round', 'circuitid', 'circuitref', 'car_condition',
       'driver_condition', 'position_q1', 'previous_year_position_q1',
       'circuitref_fastlap', 'driver_time_vs_fastlap', 'car_time_vs_fastlap', 'previous_driver_time_vs_fastlap',
       'previous_car_time_vs_fastlap', 'q1',]
df1 = df1.reindex(columns=column_order)

In [72]:
max_values = df1.groupby(['circuitref', 'year'])['q1'].transform('max')
df1['q1'] = df1['q1'].mask(df1['q1'] == 0, max_values)

In [73]:
df1

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,position_q1,previous_year_position_q1,circuitref_fastlap,driver_time_vs_fastlap,car_time_vs_fastlap,previous_driver_time_vs_fastlap,previous_car_time_vs_fastlap,q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,90.0,95.0,1.0,20.0,83777.0,-1876.0,-1818.5,0.0,0.0,81901.0
1,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,90.0,85.0,3.0,20.0,83777.0,-1761.0,-1818.5,0.0,0.0,82016.0
2,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,82.5,90.0,2.0,20.0,83777.0,-1781.0,-1580.0,0.0,0.0,81996.0
3,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,82.5,75.0,5.0,20.0,83777.0,-1379.0,-1580.0,0.0,0.0,82398.0
4,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,57.5,80.0,4.0,20.0,83777.0,-1473.0,-1254.0,0.0,0.0,82304.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1574,10323.0,1133,842.0,214.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,17.0,83445.0,NaN,NaN,2414.0,2299.5,NaN
1575,10324.0,1133,839.0,214.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,12.0,83445.0,NaN,NaN,2290.0,2313.5,NaN
1576,10327.0,1133,825.0,210.0,0.0,2024.0,24.0,24.0,yas_marina,50.0,100.0,0.0,16.0,83445.0,NaN,NaN,2389.0,2327.5,NaN
1577,10328.0,1133,848.0,3.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,19.0,83445.0,NaN,NaN,2583.0,2596.0,NaN
1578,10330.0,1133,858.0,3.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,20.0,83445.0,NaN,NaN,0.0,0.0,NaN

In [74]:
["q1", "position_final", "circuitref", "driver_time_vs_fastlap", "car_time_vs_fastlap", "position_q1"]

['q1',
 'position_final',
 'circuitref',
 'driver_time_vs_fastlap',
 'car_time_vs_fastlap',
 'position_q1']

In [75]:
lista_dataframes = []
for circuito in circuitos_2024:
    globals()[f'df1_{circuito}'] = df1[df1['circuitref'] == circuito].copy()
    lista_dataframes.append(f'df1_{circuito}')

<h4 style="color: #F70206;">Adding variables to df and dropping unusefull columns</h4>

<div class="alert alert-block alert-info" style="background-color: rgba(247, 2, 6, 0.2); color: black;">
    <strong>Tip #1</strong> TRAS ANALIZAR TODOS LOS DATAFRAMES ME QUEDO CON 2 UNO DE CLASIFICACION Y OTRO DE CARRERA QUE SON LA UNION DE 3 DATAFRAMES CADA UNO. EL OBJETIVO PREDECIR LA CLASIFICACION q1,q2,q3 Y OBTENER EL ORDEN DE SALIDA PARA LA CARRERA Y PREDECIR LOS TIEMPOS POR PILOTO PARA ASI OBTENER LA POSICION FINAL!
</div>

<h1 style="color: #F70206; text-shadow: 2px 2px 4px #000000; border: 1px solid #000000; font-size: 36px;">02 | EDA</h1>

<h4 style="color: #F70206;">Columnas categoricas y numericas</h4>

numerical = []                                         # CATEGORICAS MENOS DE 6
categorical = [] 
for column in df.describe().columns:
    if int(df[column].nunique()) > 6:
        numerical.append(column)
    else:
        categorical.append(column)
print(f' numerical : {numerical}')
print(f' categorical : {categorical}')

lista_categoricas = []
lista_numericas = []
for df_name in lista_dataframes:
    globals()[f'categorical_{df_name}'] = globals()[df_name].select_dtypes(include="object")
    lista_categoricas.append(f'categorical_{df_name}')
    globals()[f'numerical_{df_name}'] = globals()[df_name].select_dtypes(include="number")
    lista_numericas.append(f'numerical_{df_name}')

<h1 style="color: #F70206; text-shadow: 2px 2px 4px #000000; border: 1px solid #000000; font-size: 36px;">03 | Data Preprocessing </h1>

<h4 style="color: #F70206;">X-Y Split</h4>

In [76]:
lista_dataframes

['df1_bahrain',
 'df1_yeda',
 'df1_albert_park',
 'df1_suzuka',
 'df1_shanghai',
 'df1_miami',
 'df1_imola',
 'df1_monaco',
 'df1_villeneuve',
 'df1_catalunya',
 'df1_red_bull_ring',
 'df1_silverstone',
 'df1_hungaroring',
 'df1_spa',
 'df1_zandvoort',
 'df1_monza',
 'df1_baku',
 'df1_marina_bay',
 'df1_americas',
 'df1_rodriguez',
 'df1_interlagos',
 'df1_vegas',
 'df1_losail',
 'df1_yas_marina']

In [77]:
df1_catalunya

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,position_q1,previous_year_position_q1,circuitref_fastlap,driver_time_vs_fastlap,car_time_vs_fastlap,previous_driver_time_vs_fastlap,previous_car_time_vs_fastlap,q1
80,8803.0,1055,846.0,1.0,1.0,2021.0,4.0,4.0,catalunya,72.5,95.0,1.0,20.0,72272.0,5549.0,5770.5,0.0,0.0,77821.0
81,8801.0,1055,817.0,1.0,10.0,2021.0,4.0,4.0,catalunya,72.5,50.0,10.0,20.0,72272.0,5992.0,5770.5,0.0,0.0,78264.0
82,8797.0,1055,822.0,131.0,2.0,2021.0,4.0,4.0,catalunya,72.5,90.0,2.0,20.0,72272.0,5733.0,5853.0,0.0,0.0,78005.0
83,8795.0,1055,1.0,131.0,9.0,2021.0,4.0,4.0,catalunya,72.5,55.0,9.0,20.0,72272.0,5973.0,5853.0,0.0,0.0,78245.0
84,8798.0,1055,844.0,6.0,3.0,2021.0,4.0,4.0,catalunya,75.0,85.0,3.0,20.0,72272.0,5769.0,5851.0,0.0,0.0,78041.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294,10043.0,1119,842.0,214.0,0.0,2024.0,10.0,4.0,catalunya,100.0,100.0,0.0,7.0,72272.0,NaN,NaN,1199.0,1180.0,NaN
1295,10044.0,1119,839.0,214.0,0.0,2024.0,10.0,4.0,catalunya,100.0,100.0,0.0,6.0,72272.0,NaN,NaN,1161.0,1180.0,NaN
1296,10047.0,1119,825.0,210.0,0.0,2024.0,10.0,4.0,catalunya,50.0,100.0,0.0,17.0,72272.0,NaN,NaN,1770.0,1459.0,NaN
1297,10048.0,1119,848.0,3.0,0.0,2024.0,10.0,4.0,catalunya,100.0,100.0,0.0,18.0,72272.0,NaN,NaN,1791.0,2109.0,NaN
1298,10050.0,1119,858.0,3.0,0.0,2024.0,10.0,4.0,catalunya,100.0,100.0,0.0,20.0,72272.0,NaN,NaN,2427.0,2109.0,NaN

<h1 style="color: #F70206; text-shadow: 2px 2px 4px #000000; border: 1px solid #000000; font-size: 36px;">04 | Modeling</h1>

<h4 style="color: #F70206;">Train-Test Split</h4>

In [78]:
df1_bahrain[40:60]

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,position_q1,previous_year_position_q1,circuitref_fastlap,driver_time_vs_fastlap,car_time_vs_fastlap,previous_driver_time_vs_fastlap,previous_car_time_vs_fastlap,q1
879,9636.0,1098,832.0,6.0,1.0,2023.0,1.0,3.0,bahrain,90.0,95.0,1.0,2.0,89708.0,1285.0,1335.5,1859.0,1811.0,90993.0
880,9635.0,1098,844.0,6.0,3.0,2023.0,1.0,3.0,bahrain,90.0,85.0,3.0,1.0,89708.0,1386.0,1335.5,1763.0,1811.0,91094.0
881,9638.0,1098,847.0,131.0,2.0,2023.0,1.0,3.0,bahrain,62.5,90.0,2.0,9.0,89708.0,1349.0,1592.0,2561.0,2569.0,91057.0
882,9639.0,1098,1.0,131.0,13.0,2023.0,1.0,3.0,bahrain,62.5,35.0,13.0,10.0,89708.0,1835.0,1592.0,2577.0,2569.0,91543.0
883,9637.0,1098,4.0,117.0,4.0,2023.0,1.0,3.0,bahrain,77.5,80.0,4.0,12.0,89708.0,1450.0,1463.0,2638.0,2485.5,91158.0
884,9640.0,1098,840.0,117.0,5.0,2023.0,1.0,3.0,bahrain,77.5,75.0,5.0,19.0,89708.0,1476.0,1463.0,3324.0,3196.5,91184.0
885,9642.0,1098,807.0,210.0,6.0,2023.0,1.0,3.0,bahrain,42.5,70.0,6.0,17.0,89708.0,1496.0,1840.0,3069.0,3196.5,91204.0
886,9649.0,1098,825.0,210.0,17.0,2023.0,1.0,3.0,bahrain,42.5,15.0,17.0,5.0,89708.0,2184.0,1840.0,2247.0,2459.5,91892.0
887,9633.0,1098,830.0,9.0,7.0,2023.0,1.0,3.0,bahrain,57.5,65.0,7.0,3.0,89708.0,1587.0,1679.0,2077.0,2340.0,91295.0
888,9634.0,1098,815.0,9.0,10.0,2023.0,1.0,3.0,bahrain,57.5,50.0,10.0,11.0,89708.0,1771.0,1679.0,2603.0,2340.0,91479.0
889,9646.0,1098,852.0,213.0,8.0,2023.0,1.0,3.0,bahrain,32.5,60.0,8.0,16.0,89708.0,1692.0,2052.5,3042.0,2715.0,91400.0
890,9651.0,1098,856.0,213.0,19.0,2023.0,1.0,3.0,bahrain,32.5,5.0,19.0,20.0,89708.0,2413.0,2052.5,0.0,0.0,92121.0
891,9647.0,1098,848.0,3.0,9.0,2023.0,1.0,3.0,bahrain,40.0,55.0,9.0,15.0,89708.0,1753.0,1848.5,3018.0,3472.0,91461.0
892,9648.0,1098,858.0,3.0,15.0,2023.0,1.0,3.0,bahrain,40.0,25.0,15.5,20.0,89708.0,1944.0,1848.5,0.0,0.0,91652.0
893,9644.0,1098,822.0,51.0,11.0,2023.0,1.0,3.0,bahrain,37.5,45.0,11.0,4.0,89708.0,1796.0,1851.5,2211.0,2498.0,91504.0
894,9645.0,1098,855.0,51.0,14.0,2023.0,1.0,3.0,bahrain,37.5,30.0,14.0,14.0,89708.0,1907.0,1851.5,2785.0,2498.0,91615.0
895,9641.0,1098,839.0,214.0,12.0,2023.0,1.0,3.0,bahrain,20.0,40.0,12.0,6.0,89708.0,1800.0,2136.5,2333.0,2485.5,91508.0
896,9652.0,1098,842.0,214.0,20.0,2023.0,1.0,3.0,bahrain,20.0,0.0,20.0,7.0,89708.0,2473.0,2136.5,2388.0,2715.0,92181.0
897,9643.0,1098,846.0,1.0,16.0,2023.0,1.0,3.0,bahrain,15.0,20.0,15.5,8.0,89708.0,1944.0,2168.5,2531.0,2884.0,91652.0
898,9650.0,1098,857.0,1.0,18.0,2023.0,1.0,3.0,bahrain,15.0,10.0,18.0,20.0,89708.0,2393.0,2168.5,0.0,0.0,92101.0

In [79]:
drop_list = ["q1", "position_final", "circuitref", "driver_time_vs_fastlap",
             "car_time_vs_fastlap", "position_q1"]

df1_bahrain  , 'yeda', 'albert_park', 'suzuka', 'shanghai', 'miami',
       'imola', 'monaco', 'villeneuve', 'catalunya', 'red_bull_ring',
       'silverstone', 'hungaroring', 'spa', 'zandvoort', 'monza', 'baku',
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [80]:
    X = df1_bahrain.drop(drop_list, axis=1)
    y = df1_bahrain["q1"]
    X_2024 = X[df1_bahrain['year'] == 2024]
    y_2024 = y[df1_bahrain['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_bahrain['year'] != 2024], 
                                                        y[df1_bahrain['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_bahrain)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')
    
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)    
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                                series_pred_2024_4, series_pred_2024_5], axis=1)
    df_bahrain_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_bahrain_2024['position_xgb'] = df_bahrain_2024['predictions_real_xgb'].rank(method='min')
    df_bahrain_2024['position_linearregresion'] = df_bahrain_2024['predictions_real_linearregresion'].rank(method='min')
    df_bahrain_2024['position_ridge'] = df_bahrain_2024['predictions_real_ridge'].rank(method='min')
    df_bahrain_2024['position_lasso'] = df_bahrain_2024['predictions_real_lasso'].rank(method='min')
    df_bahrain_2024['position_tree'] = df_bahrain_2024['predictions_real_tree'].rank(method='min')
    df_bahrain_2024['position_knn'] = df_bahrain_2024['predictions_real_knn'].rank(method='min')
df_bahrain_2024.to_csv('df_bahrain_2024.csv', index=False)
df1_bahrain.to_csv('df1_bahrain.csv', index=False)
comparison_df

100% of our data: 80.
80% for training data: 58.
20% for test data: 2.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,91955.0,91910.046875,91409.507812,97749.722541,90050.374632,93789.726240,91094.0,91711.2
1,92285.0,92241.312500,91382.929688,97776.880221,90205.996673,93785.137827,90993.0,92101.6
2,NaN,NaN,91343.109375,97692.457070,89961.517440,93616.197873,90993.0,91791.0
3,NaN,NaN,91256.093750,97784.104830,90207.226982,93604.305726,90993.0,91443.6
4,NaN,NaN,91268.304688,97726.469939,89933.845502,93454.724040,90993.0,91608.2
5,NaN,NaN,91393.992188,97782.676195,90278.498143,93689.197853,91094.0,91771.8
6,NaN,NaN,91420.726562,97756.296721,90148.553699,93571.884595,90993.0,91732.6
7,NaN,NaN,91418.656250,97890.245384,90549.618453,93704.315322,91094.0,91711.2
8,NaN,NaN,91223.726562,97753.491417,90047.872411,93480.808971,91094.0,91535.6
9,NaN,NaN,91249.414062,97742.422640,90317.401350,93295.245265,91094.0,91355.6
10,NaN,NaN,91333.742188,97598.334601,90128.594789,93298.433992,91094.0,91736.6
11,NaN,NaN,91236.593750,97883.686180,90718.719646,93394.428125,90993.0,91372.8
12,NaN,NaN,91349.101562,97755.926896,90710.482887,93308.411900,90993.0,91736.6
13,NaN,NaN,91241.984375,97778.850213,90267.735245,93510.900421,90993.0,91736.6
14,NaN,NaN,91257.671875,97875.617139,90582.697593,93464.924231,91094.0,91355.6
15,NaN,NaN,91266.789062,97852.531493,90224.206522,93500.372167,91094.0,91488.0
16,NaN,NaN,91297.226562,97736.138280,90196.142945,93384.905519,91094.0,91355.6
17,NaN,NaN,91334.164062,98051.748827,90486.226895,93754.111416,90993.0,91356.4
18,NaN,NaN,91325.484375,97860.561411,90610.915744,93527.214080,91094.0,91736.6
19,NaN,NaN,91248.804688,97881.270794,90624.507745,93429.118831,91094.0,91355.6

In [81]:
df_bahrain_2024

,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn,position_xgb,position_linearregresion,position_ridge,position_lasso,position_tree,position_knn
0,91409.507812,97749.722541,90050.374632,93789.726240,91094.0,91711.2,18.0,6.0,4.0,20.0,10.0,11.0
1,91382.929688,97776.880221,90205.996673,93785.137827,90993.0,92101.6,16.0,10.0,8.0,19.0,1.0,20.0
2,91343.109375,97692.457070,89961.517440,93616.197873,90993.0,91791.0,14.0,2.0,2.0,15.0,1.0,19.0
3,91256.093750,97784.104830,90207.226982,93604.305726,90993.0,91443.6,6.0,13.0,9.0,14.0,1.0,7.0
4,91268.304688,97726.469939,89933.845502,93454.724040,90993.0,91608.2,9.0,3.0,1.0,7.0,1.0,10.0
5,91393.992188,97782.676195,90278.498143,93689.197853,91094.0,91771.8,17.0,12.0,12.0,16.0,10.0,18.0
6,91420.726562,97756.296721,90148.553699,93571.884595,90993.0,91732.6,20.0,9.0,6.0,13.0,1.0,13.0
7,91418.656250,97890.245384,90549.618453,93704.315322,91094.0,91711.2,19.0,19.0,15.0,17.0,10.0,11.0
8,91223.726562,97753.491417,90047.872411,93480.808971,91094.0,91535.6,1.0,7.0,3.0,9.0,10.0,9.0
9,91249.414062,97742.422640,90317.401350,93295.245265,91094.0,91355.6,5.0,5.0,13.0,1.0,10.0,1.0
10,91333.742188,97598.334601,90128.594789,93298.433992,91094.0,91736.6,12.0,1.0,5.0,2.0,10.0,14.0
11,91236.593750,97883.686180,90718.719646,93394.428125,90993.0,91372.8,2.0,18.0,20.0,5.0,1.0,6.0
12,91349.101562,97755.926896,90710.482887,93308.411900,90993.0,91736.6,15.0,8.0,19.0,3.0,1.0,14.0
13,91241.984375,97778.850213,90267.735245,93510.900421,90993.0,91736.6,3.0,11.0,11.0,11.0,1.0,14.0
14,91257.671875,97875.617139,90582.697593,93464.924231,91094.0,91355.6,7.0,16.0,16.0,8.0,10.0,1.0
15,91266.789062,97852.531493,90224.206522,93500.372167,91094.0,91488.0,8.0,14.0,10.0,10.0,10.0,8.0
16,91297.226562,97736.138280,90196.142945,93384.905519,91094.0,91355.6,10.0,4.0,7.0,4.0,10.0,1.0
17,91334.164062,98051.748827,90486.226895,93754.111416,90993.0,91356.4,13.0,20.0,14.0,18.0,1.0,5.0
18,91325.484375,97860.561411,90610.915744,93527.214080,91094.0,91736.6,11.0,15.0,17.0,12.0,10.0,14.0
19,91248.804688,97881.270794,90624.507745,93429.118831,91094.0,91355.6,4.0,17.0,18.0,6.0,10.0,1.0

df1_yeda  , 'yeda', 'albert_park', 'suzuka', 'shanghai', 'miami',
       'imola', 'monaco', 'villeneuve', 'catalunya', 'red_bull_ring',
       'silverstone', 'hungaroring', 'spa', 'zandvoort', 'monza', 'baku',
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

df1_albert_park  , 'albert_park', 'suzuka', 'shanghai', 'miami',
       'imola', 'monaco', 'villeneuve', 'catalunya', 'red_bull_ring',
       'silverstone', 'hungaroring', 'spa', 'zandvoort', 'monza', 'baku',
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [82]:
df1_albert_park

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,position_q1,previous_year_position_q1,circuitref_fastlap,driver_time_vs_fastlap,car_time_vs_fastlap,previous_driver_time_vs_fastlap,previous_car_time_vs_fastlap,q1
479,9252.0,1076,840.0,117.0,1.0,2022.0,3.0,1.0,albert_park,50.0,95.0,1.0,20.0,76732.0,-76732.0,-36157.5,0.0,0.0,81372.0
480,9250.0,1076,20.0,117.0,19.0,2022.0,3.0,1.0,albert_park,50.0,5.0,19.0,20.0,76732.0,4417.0,-36157.5,0.0,0.0,81149.0
481,9234.0,1076,830.0,9.0,2.0,2022.0,3.0,1.0,albert_park,87.5,90.0,2.0,20.0,76732.0,1848.0,1975.0,0.0,0.0,78580.0
482,9235.0,1076,815.0,9.0,3.0,2022.0,3.0,1.0,albert_park,87.5,85.0,3.0,20.0,76732.0,2102.0,1975.0,0.0,0.0,78834.0
483,9233.0,1076,844.0,6.0,4.0,2022.0,3.0,1.0,albert_park,77.5,80.0,4.0,20.0,76732.0,2149.0,2200.0,0.0,0.0,78881.0
484,9241.0,1076,832.0,6.0,5.0,2022.0,3.0,1.0,albert_park,77.5,75.0,5.0,20.0,76732.0,2251.0,2200.0,0.0,0.0,78983.0
485,9242.0,1076,4.0,214.0,6.0,2022.0,3.0,1.0,albert_park,55.0,70.0,6.0,20.0,76732.0,2460.0,2666.5,0.0,0.0,79192.0
486,9240.0,1076,839.0,214.0,12.0,2022.0,3.0,1.0,albert_park,55.0,40.0,12.0,20.0,76732.0,2873.0,2666.5,0.0,0.0,79605.0
487,9244.0,1076,822.0,51.0,7.0,2022.0,3.0,1.0,albert_park,45.0,65.0,7.0,20.0,76732.0,2519.0,2848.5,0.0,0.0,79251.0
488,9246.0,1076,855.0,51.0,15.0,2022.0,3.0,1.0,albert_park,45.0,25.0,15.0,20.0,76732.0,3178.0,2848.5,0.0,0.0,79910.0
489,9236.0,1076,846.0,1.0,8.0,2022.0,3.0,1.0,albert_park,47.5,60.0,8.0,20.0,76732.0,2548.0,2740.5,0.0,0.0,79280.0
490,9239.0,1076,817.0,1.0,13.0,2022.0,3.0,1.0,albert_park,47.5,35.0,13.0,20.0,76732.0,2933.0,2740.5,0.0,0.0,79665.0
491,9237.0,1076,1.0,131.0,9.0,2022.0,3.0,1.0,albert_park,52.5,55.0,9.0,20.0,76732.0,2669.0,2671.0,0.0,0.0,79401.0
492,9238.0,1076,847.0,131.0,10.0,2022.0,3.0,1.0,albert_park,52.5,50.0,10.0,20.0,76732.0,2673.0,2671.0,0.0,0.0,79405.0
493,9243.0,1076,842.0,213.0,11.0,2022.0,3.0,1.0,albert_park,37.5,45.0,11.0,20.0,76732.0,2848.0,2929.0,0.0,0.0,79580.0
494,9245.0,1076,852.0,213.0,14.0,2022.0,3.0,1.0,albert_park,37.5,30.0,14.0,20.0,76732.0,3010.0,2929.0,0.0,0.0,79742.0
495,9247.0,1076,854.0,210.0,16.0,2022.0,3.0,1.0,albert_park,15.0,20.0,16.0,20.0,76732.0,3372.0,3447.0,0.0,0.0,80104.0
496,9249.0,1076,825.0,210.0,18.0,2022.0,3.0,1.0,albert_park,15.0,10.0,18.0,20.0,76732.0,3522.0,3447.0,0.0,0.0,80254.0
497,9248.0,1076,848.0,3.0,17.0,2022.0,3.0,1.0,albert_park,7.5,15.0,17.0,20.0,76732.0,3403.0,4021.5,0.0,0.0,80135.0
498,9251.0,1076,849.0,3.0,20.0,2022.0,3.0,1.0,albert_park,7.5,0.0,20.0,20.0,76732.0,4640.0,4021.5,0.0,0.0,81372.0
919,9692.0,1100,815.0,9.0,1.0,2023.0,3.0,1.0,albert_park,92.5,95.0,1.0,3.0,76732.0,-76732.0,-38040.0,2102.0,1975.0,78714.0
920,9673.0,1100,830.0,9.0,2.0,2023.0,3.0,1.0,albert_park,92.5,90.0,2.0,2.0,76732.0,652.0,-38040.0,1848.0,1975.0,77384.0
921,9674.0,1100,847.0,131.0,3.0,2023.0,3.0,1.0,albert_park,82.5,85.0,3.0,10.0,76732.0,922.0,939.5,2673.0,2671.0,77654.0
922,9675.0,1100,1.0,131.0,4.0,2023.0,3.0,1.0,albert_park,82.5,80.0,4.0,9.0,76732.0,957.0,939.5,2669.0,2671.0,77689.0
923,9683.0,1100,839.0,214.0,5.0,2023.0,3.0,1.0,albert_park,52.5,75.0,5.0,12.0,76732.0,1038.0,1309.0,2873.0,2666.5,77770.0
924,9681.0,1100,842.0,214.0,14.0,2023.0,3.0,1.0,albert_park,52.5,30.0,14.0,11.0,76732.0,1580.0,1309.0,2848.0,2929.0,78312.0
925,9676.0,1100,4.0,117.0,6.0,2023.0,3.0,1.0,albert_park,67.5,70.0,6.0,6.0,76732.0,1100.0,1120.5,2460.0,2666.5,77832.0
926,9678.0,1100,840.0,117.0,7.0,2023.0,3.0,1.0,albert_park,67.5,65.0,7.0,1.0,76732.0,1141.0,1120.5,-76732.0,-36157.5,77873.0
927,9677.0,1100,832.0,6.0,8.0,2023.0,3.0,1.0,albert_park,50.0,60.0,8.0,5.0,76732.0,1196.0,1341.0,2251.0,2200.0,77928.0
928,9679.0,1100,844.0,6.0,12.0,2023.0,3.0,1.0,albert_park,50.0,40.0,12.0,4.0,76732.0,1486.0,1341.0,2149.0,2200.0,78218.0
929,9680.0,1100,848.0,3.0,9.0,2023.0,3.0,1.0,albert_park,30.0,55.0,9.0,17.0,76732.0,1230.0,1527.5,3403.0,4021.5,77962.0
930,9690.0,1100,858.0,3.0,19.0,2023.0,3.0,1.0,albert_park,30.0,5.0,19.0,20.0,76732.0,1825.0,1527.5,0.0,0.0,78557.0
931,9682.0,1100,807.0,210.0,10.0,2023.0,3.0,1.0,albert_park,47.5,50.0,10.0,20.0,76732.0,1297.0,1362.0,0.0,0.0,78029.0
932,9686.0,1100,825.0,210.0,11.0,2023.0,3.0,1.0,albert_park,47.5,45.0,11.0,18.0,76732.0,1427.0,1362.0,3522.0,3447.0,78159.0
933,9685.0,1100,846.0,1.0,13.0,2023.0,3.0,1.0,albert_park,25.0,35.0,13.0,8.0,76732.0,1511.0,1648.0,2548.0,2740.5,78243.0
934,9688.0,1100,857.0,1.0,17.0,2023.0,3.0,1.0,albert_park,25.0,15.0,17.0,20.0,76732.0,1785.0,1648.0,0.0,0.0,78517.0
935,9687.0,1100,856.0,213.0,15.0,2023.0,3.0,1.0,albert_park,22.5,25.0,15.0,20.0,76732.0,1718.0,1728.5,0.0,0.0,78450.0
936,9684.0,1100,852.0,213.0,16.0,2023.0,3.0,1.0,albert_park,22.5,20.0,16.0,14.0,76732.0,1739.0,1728.5,3010.0,2929.0,78471.0
937,9689.0,1100,855.0,51.0,18.0,2023.0,3.0,1.0,albert_park,5.0,10.0,18.0,15.0,76732.0,1808.0,1895.0,3178.0,2848.5,78540.0
938,9691.0,1100,822.0,51.0,20.0,2023.0,3.0,1.0,albert_park,5.0,0.0,20.0,7.0,76732.0,1982.0,1895.0,2519.0,2848.5,78714.0
1139,9893.0,1112,844.0,6.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,12.0,76732.0,NaN,NaN,1486.0,1341.0,NaN
1140,9896.0,1112,832.0,6.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,8.0,76732.0,NaN,NaN,1196.0,1341.0,NaN
1141,9894.0,1112,830.0,9.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,2.0,76732.0,NaN,NaN,652.0,-38040.0,NaN
1142,9899.0,1112,815.0,9.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,1.0,76732.0,NaN,NaN,-76732.0,-38040.0,NaN
1143,9895.0,1112,1.0,131.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,4.0,76732.0,NaN,NaN,957.0,939.5,NaN
1144,9900.0,1112,847.0,131.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,3.0,76732.0,NaN,NaN,922.0,939.5,NaN
1145,9897.0,1112,4.0,117.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,6.0,76732.0,NaN,NaN,1100.0,1120.5,NaN
1146,9905.0,1112,840.0,117.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,7.0,76732.0,NaN,NaN,1141.0,1120.5,NaN
1147,9898.0,1112,857.0,1.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,17.0,76732.0,NaN,NaN,1785.0,1648.0,NaN
1148,9906.0,1112,846.0,1.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,13.0,76732.0,NaN,NaN,1511.0,1648.0,NaN
1149,9901.0,1112,852.0,213.0,0.0,2024.0,3.0,1.0,albert_park,150.0,100.0,0.0,16.0,76732.0,NaN,NaN,1739.0,1728.5,NaN
1150,9911.0,1112,817.0,213.0,0.0,2024.0,3.0,1.0,albert_park,150.0,100.0,0.0,13.0,76732.0,NaN,NaN,2933.0,2740.5,NaN
1151,9912.0,1112,807.0,213.0,0.0,2024.0,3.0,1.0,albert_park,150.0,100.0,0.0,10.0,76732.0,NaN,NaN,1297.0,1362.0,NaN
1152,9902.0,1112,822.0,51.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,20.0,76732.0,NaN,NaN,1982.0,1895.0,NaN
1153,9909.0,1112,855.0,51.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,18.0,76732.0,NaN,NaN,1808.0,1895.0,NaN
1154,9903.0,1112,842.0,214.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,14.0,76732.0,NaN,NaN,1580.0,1309.0,NaN
1155,9904.0,1112,839.0,214.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,5.0,76732.0,NaN,NaN,1038.0,1309.0,NaN
1156,9907.0,1112,825.0,210.0,0.0,2024.0,3.0,1.0,albert_park,50.0,100.0,0.0,11.0,76732.0,NaN,NaN,1427.0,1362.0,NaN
1157,9908.0,1112,848.0,3.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,9.0,76732.0,NaN,NaN,1230.0,1527.5,NaN
1158,9910.0,1112,858.0,3.0,0.0,2024.0,3.0,1.0,albert_park,100.0,100.0,0.0,19.0,76732.0,NaN,NaN,1825.0,1527.5,NaN

In [83]:
    X = df1_albert_park.drop(drop_list, axis=1)
    y = df1_albert_park["q1"]
    X_2024 = X[df1_albert_park['year'] == 2024]
    y_2024 = y[df1_albert_park['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_albert_park['year'] != 2024], 
                                                        y[df1_albert_park['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_albert_park)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_albert_park_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_albert_park_2024['position_xgb'] = df_albert_park_2024['predictions_real_xgb'].rank(method='min')
    df_albert_park_2024['position_linearregresion'] = df_albert_park_2024['predictions_real_linearregresion'].rank(method='min')
    df_albert_park_2024['position_ridge'] = df_albert_park_2024['predictions_real_ridge'].rank(method='min')
    df_albert_park_2024['position_lasso'] = df_albert_park_2024['predictions_real_lasso'].rank(method='min')
    df_albert_park_2024['position_tree'] = df_albert_park_2024['predictions_real_tree'].rank(method='min')
    df_albert_park_2024['position_knn'] = df_albert_park_2024['predictions_real_knn'].rank(method='min')
df_albert_park_2024.to_csv('df_albert_2024.csv', index=False)
df1_albert_park.to_csv('df1_albert.csv', index=False)

df1_albert_park['q1'][-20:] = df_albert_park_2024['predictions_real_xgb'].values[-20:]
df1_albert_park['position_q1'][-20:] = df_albert_park_2024['position_xgb'].values[-20:]
df1_albert_park.to_csv('df1_albert_park_q1_predicted.csv', index=False)

comparison_df

100% of our data: 60.
80% for training data: 39.
20% for test data: 1.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,77654.0,77587.109375,78636.039062,76115.430808,76252.308732,76389.093168,78517.0,78097.4
1,NaN,NaN,78636.039062,76461.647440,76508.313728,76552.232260,78714.0,78152.2
2,NaN,NaN,78652.046875,75860.795565,79120.065255,82693.886547,78714.0,78985.0
3,NaN,NaN,78714.101562,76887.319744,76889.922213,76883.273596,78714.0,78285.2
4,NaN,NaN,78682.140625,76643.729403,76750.709340,76865.466169,78714.0,79244.2
5,NaN,NaN,78641.687500,76874.540066,76852.058672,76829.971057,78517.0,78187.4
6,NaN,NaN,78682.140625,76781.500448,76811.003789,76837.601382,78714.0,79168.0
7,NaN,NaN,78624.351562,77235.412406,77040.756856,76823.652371,78517.0,78054.6
8,NaN,NaN,78648.851562,76450.216889,76406.385481,76337.525096,78517.0,78097.4
9,NaN,NaN,78635.812500,77231.006285,76945.804032,76618.426954,78517.0,78097.4
10,NaN,NaN,78633.148438,76657.149271,76336.957937,75967.259771,78517.0,78097.4
11,NaN,NaN,78675.710938,77601.685245,76953.502416,76228.977879,78714.0,78267.2
12,NaN,NaN,78681.023438,77744.004263,77119.538595,76425.266471,78714.0,78097.4
13,NaN,NaN,78691.812500,76738.560294,76556.835825,76333.025244,78714.0,78097.4
14,NaN,NaN,78648.007812,77379.988231,76985.932680,76532.581749,78517.0,78097.4
15,NaN,NaN,78620.242188,76899.164661,76756.841316,76588.157992,78517.0,78097.4
16,NaN,NaN,78627.539062,77170.777392,77005.098835,76824.434664,78517.0,78054.6
17,NaN,NaN,78613.062500,77344.661005,77284.316401,77212.971306,78714.0,78097.4
18,NaN,NaN,78648.945312,77484.329257,77149.869929,76774.603711,78517.0,78097.4
19,NaN,NaN,78649.648438,77451.460993,77048.354365,76582.755864,78517.0,78097.4

df1_suzuka , 'suzuka', 'shanghai', 'miami',
       'imola', 'monaco', 'villeneuve', 'catalunya', 'red_bull_ring',
       'silverstone', 'hungaroring', 'spa', 'zandvoort', 'monza', 'baku',
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [84]:
    X = df1_suzuka.drop(drop_list, axis=1)
    y = df1_suzuka["q1"]
    X_2024 = X[df1_suzuka['year'] == 2024]
    y_2024 = y[df1_suzuka['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_suzuka['year'] != 2024], 
                                                        y[df1_suzuka['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_suzuka)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_suzuka_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_suzuka_2024['position_xgb'] = df_suzuka_2024['predictions_real_xgb'].rank(method='min')
    df_suzuka_2024['position_linearregresion'] = df_suzuka_2024['predictions_real_linearregresion'].rank(method='min')
    df_suzuka_2024['position_ridge'] = df_suzuka_2024['predictions_real_ridge'].rank(method='min')
    df_suzuka_2024['position_lasso'] = df_suzuka_2024['predictions_real_lasso'].rank(method='min')
    df_suzuka_2024['position_tree'] = df_suzuka_2024['predictions_real_tree'].rank(method='min')
    df_suzuka_2024['position_knn'] = df_suzuka_2024['predictions_real_knn'].rank(method='min')
df_suzuka_2024.to_csv('df_suzuka_2024.csv', index=False)
df1_suzuka.to_csv('df1_suzuka.csv', index=False)

df1_suzuka['q1'][-20:] = df_suzuka_2024['predictions_real_xgb'].values[-20:]
df1_suzuka['position_q1'][-20:] = df_suzuka_2024['position_xgb'].values[-20:]
df1_suzuka.to_csv('df1_suzuka_q1_predicted.csv', index=False)

comparison_df

100% of our data: 40.
80% for training data: 19.
20% for test data: 1.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,91311.0,91231.132812,90678.242188,92143.451079,92122.373511,92055.789404,90224.0,90722.6
1,NaN,NaN,90676.414062,92158.350296,92137.103278,92069.983827,90224.0,90722.6
2,NaN,NaN,90674.804688,92148.967424,92127.831479,92061.063678,90224.0,90722.6
3,NaN,NaN,90667.695312,92173.764432,92152.347338,92084.691160,90224.0,90722.6
4,NaN,NaN,90657.093750,92179.228019,92157.852591,92090.369665,90224.0,90853.4
5,NaN,NaN,90674.765625,92197.994589,92176.556187,92108.850329,90224.0,91005.2
6,NaN,NaN,90657.093750,92186.844257,92165.355660,92097.512756,90224.0,90853.4
7,NaN,NaN,90673.398438,92220.496036,92198.775522,92130.175887,90224.0,91020.0
8,NaN,NaN,90677.921875,92167.252144,92145.899453,92078.444474,90224.0,90678.6
9,NaN,NaN,90678.398438,92206.836304,92185.037069,92116.170736,90224.0,90722.6
10,NaN,NaN,90669.343750,92092.841027,92070.927500,92002.783253,90224.0,91033.0
11,NaN,NaN,90665.593750,92142.470063,92119.992970,92050.068107,90224.0,91130.4
12,NaN,NaN,90654.328125,92147.478492,92124.943396,92054.835447,90224.0,91130.4
13,NaN,NaN,90671.757812,92195.249160,92173.676399,92105.534313,90224.0,90900.6
14,NaN,NaN,90675.343750,92229.586755,92207.634069,92138.289992,90224.0,90843.4
15,NaN,NaN,90669.664062,92226.121986,92204.533632,92136.366514,90224.0,91130.4
16,NaN,NaN,90669.828125,92231.081387,92209.436804,92141.092011,90224.0,91130.4
17,NaN,NaN,90901.695312,92368.528920,92347.151959,92278.601709,90224.0,91130.4
18,NaN,NaN,90677.765625,92217.019008,92195.109767,92125.895921,90224.0,90722.6
19,NaN,NaN,90677.765625,92226.825747,92204.808101,92135.251271,90224.0,90678.6

df1_shanghai ,, 'shanghai', 'miami',
       'imola', 'monaco', 'villeneuve', 'catalunya', 'red_bull_ring',
       'silverstone', 'hungaroring', 'spa', 'zandvoort', 'monza', 'baku',
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

    X = df1_shanghai.drop(drop_list, axis=1)
    y = df1_shanghai["q1"]
    X_2024 = X[df1_shanghai['year'] == 2024]
    y_2024 = y[df1_shanghai['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_shanghai['year'] != 2024], 
                                                        y[df1_shanghai['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_shanghai_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_shanghai_2024['position_xgb'] = df_shanghai_2024['predictions_real_xgb'].rank(method='min')
    df_shanghai_2024['position_linearregresion'] = df_shanghai_2024['predictions_real_linearregresion'].rank(method='min')
    df_shanghai_2024['position_ridge'] = df_shanghai_2024['predictions_real_ridge'].rank(method='min')
    df_shanghai_2024['position_lasso'] = df_shanghai_2024['predictions_real_lasso'].rank(method='min')
    df_shanghai_2024['position_tree'] = df_shanghai_2024['predictions_real_tree'].rank(method='min')
    df_shanghai_2024['position_knn'] = df_shanghai_2024['predictions_real_knn'].rank(method='min')
df_shanghai_2024.to_csv('df_shanghai_2024.csv', index=False)
df1_shanghai.to_csv('df1_shanghai.csv', index=False)

df1_shanghai['q1'][-20:] = df_shanghai_2024['predictions_real_xgb'].values[-20:]
df1_shanghai['position_q1'][-20:] = df_shanghai_2024['position_xgb'].values[-20:]
df1_shanghai.to_csv('df1_shanghai_q1_predicted.csv', index=False)

comparison_df

df1_miami ,, , 'miami',
       'imola', 'monaco', 'villeneuve', 'catalunya', 'red_bull_ring',
       'silverstone', 'hungaroring', 'spa', 'zandvoort', 'monza', 'baku',
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [85]:
    X = df1_miami.drop(drop_list, axis=1)
    y = df1_miami["q1"]
    X_2024 = X[df1_miami['year'] == 2024]
    y_2024 = y[df1_miami['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_miami['year'] != 2024], 
                                                        y[df1_miami['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_miami)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_miami_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_miami_2024['position_xgb'] = df_miami_2024['predictions_real_xgb'].rank(method='min')
    df_miami_2024['position_linearregresion'] = df_miami_2024['predictions_real_linearregresion'].rank(method='min')
    df_miami_2024['position_ridge'] = df_miami_2024['predictions_real_ridge'].rank(method='min')
    df_miami_2024['position_lasso'] = df_miami_2024['predictions_real_lasso'].rank(method='min')
    df_miami_2024['position_tree'] = df_miami_2024['predictions_real_tree'].rank(method='min')
    df_miami_2024['position_knn'] = df_miami_2024['predictions_real_knn'].rank(method='min')
df_miami_2024.to_csv('df_miami_2024.csv', index=False)
df1_miami.to_csv('df1_miami.csv', index=False)

df1_miami['q1'][-20:] = df_miami_2024['predictions_real_xgb'].values[-20:]
df1_miami['position_q1'][-20:] = df_miami_2024['position_xgb'].values[-20:]
df1_miami.to_csv('df1_miami_q1_predicted.csv', index=False)


comparison_df

100% of our data: 60.
80% for training data: 39.
20% for test data: 1.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,87686.0,87456.054688,87494.796875,85952.996550,85962.370007,85972.383944,87363.0,88782.8
1,NaN,NaN,87459.304688,86061.049834,86028.983432,85994.917274,87363.0,88782.8
2,NaN,NaN,87455.804688,85999.519960,85995.240728,85991.676885,87363.0,88782.8
3,NaN,NaN,87473.882812,86157.171534,86083.830574,86004.418977,87363.0,88782.8
4,NaN,NaN,87605.085938,86006.592755,86024.230348,86040.992680,87363.0,89548.4
5,NaN,NaN,87659.335938,86241.660186,86167.888668,86084.990525,87363.0,88931.2
6,NaN,NaN,87605.523438,86033.593738,86023.928291,86008.258612,87363.0,89426.0
7,NaN,NaN,87634.039062,86364.780051,86222.471558,86062.085042,87363.0,87984.6
8,NaN,NaN,87540.640625,86040.772985,85984.207087,85915.536192,87363.0,87970.0
9,NaN,NaN,87538.640625,86325.967633,86158.526306,85971.464146,87363.0,88016.4
10,NaN,NaN,87660.328125,86191.565864,86045.207022,85880.647934,87363.0,87984.6
11,NaN,NaN,87605.703125,86551.696835,86272.412905,85967.175503,87363.0,88289.2
12,NaN,NaN,87606.515625,86602.124779,86302.073811,85975.179962,87363.0,88931.2
13,NaN,NaN,87604.710938,86268.778797,86160.069327,86040.954195,87363.0,88782.8
14,NaN,NaN,87659.890625,86481.526721,86275.384275,86048.159062,87363.0,88782.8
15,NaN,NaN,87633.046875,86406.695382,86299.522816,86181.353909,87363.0,88931.2
16,NaN,NaN,87597.367188,86449.348342,86328.397585,86196.290883,87363.0,88931.2
17,NaN,NaN,87635.234375,86673.424742,86578.845409,86477.341563,87363.0,88931.2
18,NaN,NaN,87538.640625,86404.970747,86209.775638,85993.691414,87363.0,88208.8
19,NaN,NaN,87543.429688,86445.631089,86222.844866,85974.083301,87363.0,87970.0

df1_imola 
       'imola', 'monaco', 'villeneuve', 'catalunya', 'red_bull_ring',
       'silverstone', 'hungaroring', 'spa', 'zandvoort', 'monza', 'baku',
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [86]:
    X = df1_imola.drop(drop_list, axis=1)
    y = df1_imola["q1"]
    X_2024 = X[df1_imola['year'] == 2024]
    y_2024 = y[df1_imola['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_imola['year'] != 2024], 
                                                        y[df1_imola['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_imola)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_imola_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                                     series_pred_2024_4, series_pred_2024_5], axis=1)
    df_imola_2024['position_xgb'] = df_imola_2024['predictions_real_xgb'].rank(method='min')
    df_imola_2024['position_linearregresion'] = df_imola_2024['predictions_real_linearregresion'].rank(method='min')
    df_imola_2024['position_ridge'] = df_imola_2024['predictions_real_ridge'].rank(method='min')
    df_imola_2024['position_lasso'] = df_imola_2024['predictions_real_lasso'].rank(method='min')
    df_imola_2024['position_tree'] = df_imola_2024['predictions_real_tree'].rank(method='min')
    df_imola_2024['position_knn'] = df_imola_2024['predictions_real_knn'].rank(method='min')
df_imola_2024.to_csv('df_imola_2024.csv', index=False)
df1_imola.to_csv('df1_imola.csv', index=False)

df1_imola['q1'][-20:] = df_imola_2024['predictions_real_xgb'].values[-20:]
df1_imola['position_q1'][-20:] = df_imola_2024['position_xgb'].values[-20:]
df1_imola.to_csv('df1_imola_q1_predicted.csv', index=False)

comparison_df

100% of our data: 60.
80% for training data: 39.
20% for test data: 1.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,78796.0,79442.828125,82216.867188,80034.600226,82496.811706,84970.087407,82338.0,78798.0
1,NaN,NaN,82186.539062,80290.239877,82676.830230,85070.645370,82338.0,78798.0
2,NaN,NaN,82190.687500,80128.210819,82566.024507,85013.179869,82338.0,78798.0
3,NaN,NaN,82195.468750,80553.461273,82864.642788,85179.147642,82338.0,78798.0
4,NaN,NaN,82195.468750,80144.635854,82559.171219,84964.138404,82338.0,78701.2
5,NaN,NaN,82221.117188,80739.891573,83063.008177,85381.198147,82338.0,79161.8
6,NaN,NaN,82195.468750,80290.675617,82633.314839,84973.164442,82338.0,78729.6
7,NaN,NaN,82221.117188,81136.577617,83317.707735,85494.285089,82338.0,79026.8
8,NaN,NaN,82188.773438,80528.642431,82906.827988,85270.189107,81971.0,78798.0
9,NaN,NaN,82225.492188,81160.165078,83292.844014,85421.957979,82338.0,78654.8
10,NaN,NaN,82184.398438,80918.302202,83051.041503,85164.184603,81971.0,79161.8
11,NaN,NaN,82190.687500,81684.111951,83518.884973,85342.952900,82338.0,79161.8
12,NaN,NaN,82195.468750,81803.001699,83646.316212,85461.211872,82338.0,79161.8
13,NaN,NaN,82190.687500,80866.661803,83126.051917,85377.457934,82338.0,78798.0
14,NaN,NaN,82184.398438,81412.167392,83460.981369,85510.746165,81971.0,78798.0
15,NaN,NaN,82221.117188,81047.066780,83315.102965,85571.271723,82338.0,79161.8
16,NaN,NaN,82221.117188,81150.734433,83397.336527,85629.232583,82338.0,79161.8
17,NaN,NaN,82292.687500,81281.392807,83599.459073,85926.894222,82338.0,79161.8
18,NaN,NaN,82216.867188,80584.492043,82640.764837,84692.257942,82338.0,80452.6
19,NaN,NaN,82180.148438,81524.124582,83581.001469,85618.041716,81971.0,78798.0

df1_monaco 
       , 'monaco', 'villeneuve', 'catalunya', 'red_bull_ring',
       'silverstone', 'hungaroring', 'spa', 'zandvoort', 'monza', 'baku',
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [87]:
    X = df1_monaco.drop(drop_list, axis=1)
    y = df1_monaco["q1"]
    X_2024 = X[df1_monaco['year'] == 2024]
    y_2024 = y[df1_monaco['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_monaco['year'] != 2024], 
                                                        y[df1_monaco['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_monaco)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_monaco_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_monaco_2024['position_xgb'] = df_monaco_2024['predictions_real_xgb'].rank(method='min')
    df_monaco_2024['position_linearregresion'] = df_monaco_2024['predictions_real_linearregresion'].rank(method='min')
    df_monaco_2024['position_ridge'] = df_monaco_2024['predictions_real_ridge'].rank(method='min')
    df_monaco_2024['position_lasso'] = df_monaco_2024['predictions_real_lasso'].rank(method='min')
    df_monaco_2024['position_tree'] = df_monaco_2024['predictions_real_tree'].rank(method='min')
    df_monaco_2024['position_knn'] = df_monaco_2024['predictions_real_knn'].rank(method='min')
df_monaco_2024.to_csv('df_monaco_2024.csv', index=False)
df1_monaco.to_csv('df1_monaco.csv', index=False)

df1_monaco['q1'][-20:] = df_monaco_2024['predictions_real_xgb'].values[-20:]
df1_monaco['position_q1'][-20:] = df_monaco_2024['position_xgb'].values[-20:]
df1_monaco.to_csv('df1_monaco_q1_predicted.csv', index=False)

comparison_df

100% of our data: 79.
80% for training data: 57.
20% for test data: 2.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,73338.0,73112.382812,72676.882812,72909.817923,72942.909206,73522.147265,72642.0,72919.8
1,73541.0,73384.320312,72672.773438,72980.911033,73010.795722,73525.771518,72642.0,72926.8
2,NaN,NaN,72618.460938,72901.215603,72933.204763,73505.670686,72642.0,72848.4
3,NaN,NaN,72636.140625,73030.169802,73052.609871,73554.090545,72642.0,73103.4
4,NaN,NaN,72629.867188,72959.597372,72988.808921,73485.669373,72642.0,72992.2
5,NaN,NaN,72672.085938,72974.997556,73000.000433,73459.736543,72642.0,72937.8
6,NaN,NaN,72625.148438,72996.771523,73023.022373,73495.041702,72642.0,72992.2
7,NaN,NaN,72672.085938,73079.455316,73097.869898,73474.873877,72642.0,72750.2
8,NaN,NaN,72673.445312,72991.982674,73017.669877,73531.679625,72642.0,72969.8
9,NaN,NaN,72677.562500,73151.670744,73167.186860,73543.224299,72642.0,72969.8
10,NaN,NaN,72674.390625,72757.283946,72774.125179,73197.857909,72642.0,72750.2
11,NaN,NaN,72626.476562,72938.970306,72940.022461,73228.810874,72642.0,73036.2
12,NaN,NaN,72660.265625,72903.152367,72901.426522,73217.634917,72642.0,73134.4
13,NaN,NaN,72619.898438,73003.638985,73022.727146,73504.054251,72642.0,73005.0
14,NaN,NaN,72688.539062,73149.706583,73158.761492,73528.262403,72642.0,73103.4
15,NaN,NaN,72675.531250,72954.613904,72974.466771,73417.315849,72642.0,72969.8
16,NaN,NaN,72683.437500,72978.131280,72996.918224,73418.445373,72642.0,72969.8
17,NaN,NaN,72631.625000,73205.536582,73226.219664,73642.570566,72386.0,73134.4
18,NaN,NaN,72672.093750,73201.333171,73215.002495,73544.070317,72642.0,72919.8
19,NaN,NaN,72672.796875,73205.824556,73215.031891,73548.843339,72642.0,72969.8

In [88]:
df1_villeneuve[df1_villeneuve['year'] == 2024]

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,position_q1,previous_year_position_q1,circuitref_fastlap,driver_time_vs_fastlap,car_time_vs_fastlap,previous_driver_time_vs_fastlap,previous_car_time_vs_fastlap,q1
1259,10013.0,1118,844.0,6.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,5.0,79092.0,NaN,NaN,2751.0,2953.5,NaN
1260,10016.0,1118,832.0,6.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,11.0,79092.0,NaN,NaN,3156.0,2953.5,NaN
1261,10014.0,1118,830.0,9.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,1.0,79092.0,NaN,NaN,1759.0,2409.0,NaN
1262,10019.0,1118,815.0,9.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,9.0,79092.0,NaN,NaN,3059.0,2409.0,NaN
1263,10015.0,1118,1.0,131.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,3.0,79092.0,NaN,NaN,2462.0,2584.0,NaN
1264,10020.0,1118,847.0,131.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,4.0,79092.0,NaN,NaN,2706.0,2584.0,NaN
1265,10017.0,1118,4.0,117.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,2.0,79092.0,NaN,NaN,2389.0,2987.0,NaN
1266,10025.0,1118,840.0,117.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,14.0,79092.0,NaN,NaN,3585.0,2987.0,NaN
1267,10018.0,1118,857.0,1.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,10.0,79092.0,NaN,NaN,3098.0,3002.0,NaN
1268,10026.0,1118,846.0,1.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,7.0,79092.0,NaN,NaN,2906.0,3002.0,NaN
1269,10021.0,1118,852.0,213.0,0.0,2024.0,9.0,7.0,villeneuve,150.0,100.0,0.0,16.0,79092.0,NaN,NaN,3654.0,3849.5,NaN
1270,10031.0,1118,817.0,213.0,0.0,2024.0,9.0,7.0,villeneuve,150.0,100.0,0.0,8.0,79092.0,NaN,NaN,14544.0,14759.0,NaN
1271,10032.0,1118,807.0,213.0,0.0,2024.0,9.0,7.0,villeneuve,150.0,100.0,0.0,15.0,79092.0,NaN,NaN,3638.0,3448.5,NaN
1272,10022.0,1118,822.0,51.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,12.0,79092.0,NaN,NaN,3240.0,3745.0,NaN
1273,10029.0,1118,855.0,51.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,20.0,79092.0,NaN,NaN,4250.0,3745.0,NaN
1274,10023.0,1118,842.0,214.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,17.0,79092.0,NaN,NaN,3794.0,3408.0,NaN
1275,10024.0,1118,839.0,214.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,8.0,79092.0,NaN,NaN,3022.0,3408.0,NaN
1276,10027.0,1118,825.0,210.0,0.0,2024.0,9.0,7.0,villeneuve,50.0,100.0,0.0,13.0,79092.0,NaN,NaN,3259.0,3448.5,NaN
1277,10028.0,1118,848.0,3.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,6.0,79092.0,NaN,NaN,2846.0,3545.5,NaN
1278,10030.0,1118,858.0,3.0,0.0,2024.0,9.0,7.0,villeneuve,100.0,100.0,0.0,19.0,79092.0,NaN,NaN,4245.0,3545.5,NaN

df1_villeneuve

In [89]:
    X = df1_villeneuve.drop(drop_list, axis=1)
    y = df1_villeneuve["q1"]
    X_2024 = X[df1_villeneuve['year'] == 2024]
    y_2024 = y[df1_villeneuve['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_villeneuve['year'] != 2024], 
                                                        y[df1_villeneuve['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_villeneuve)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_villeneuve_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_villeneuve_2024['position_xgb'] = df_villeneuve_2024['predictions_real_xgb'].rank(method='min')
    df_villeneuve_2024['position_linearregresion'] = df_villeneuve_2024['predictions_real_linearregresion'].rank(method='min')
    df_villeneuve_2024['position_ridge'] = df_villeneuve_2024['predictions_real_ridge'].rank(method='min')
    df_villeneuve_2024['position_lasso'] = df_villeneuve_2024['predictions_real_lasso'].rank(method='min')
    df_villeneuve_2024['position_tree'] = df_villeneuve_2024['predictions_real_tree'].rank(method='min')
    df_villeneuve_2024['position_knn'] = df_villeneuve_2024['predictions_real_knn'].rank(method='min')
df_villeneuve_2024.to_csv('df_villeneuve_2024.csv', index=False)
df1_villeneuve.to_csv('df1_villeneuve.csv', index=False)

df1_villeneuve['q1'][-20:] = df_villeneuve_2024['predictions_real_xgb'].values[-20:]
df1_villeneuve['position_q1'][-20:] = df_villeneuve_2024['position_xgb'].values[-20:]
df1_villeneuve.to_csv('df1_villeneuve_q1_predicted.csv', index=False)

comparison_df

100% of our data: 60.
80% for training data: 39.
20% for test data: 1.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,81481.0,81569.445312,82001.437500,75575.284899,74791.730510,74200.509220,81554.0,84880.4
1,NaN,NaN,82053.148438,75585.209553,74742.197721,74105.261015,81554.0,84880.4
2,NaN,NaN,82032.804688,75615.293569,74796.187627,74181.487865,81554.0,84880.4
3,NaN,NaN,82042.257812,75705.453579,74785.249072,74087.581144,81554.0,84880.4
4,NaN,NaN,82024.765625,75579.322426,74667.841257,73981.537642,81554.0,89299.4
5,NaN,NaN,81997.031250,75772.732320,74794.058388,74057.176920,81554.0,85385.2
6,NaN,NaN,82019.890625,75594.781045,74640.447614,73926.663225,81554.0,89110.0
7,NaN,NaN,82009.132812,75772.866198,74701.311546,73894.624158,81554.0,85385.2
8,NaN,NaN,82093.468750,75632.594668,74744.224405,74074.819477,81554.0,84880.4
9,NaN,NaN,82039.093750,75818.116847,74738.324671,73929.887479,81554.0,84880.4
10,NaN,NaN,82048.765625,75500.643580,74483.208594,73725.860115,81554.0,84881.2
11,NaN,NaN,82033.976562,75778.001246,74581.815631,73699.494439,81554.0,82324.2
12,NaN,NaN,82054.164062,75760.552409,74482.101827,73530.277732,81554.0,84881.2
13,NaN,NaN,82042.257812,75643.668234,74655.791925,73919.203591,81554.0,84880.4
14,NaN,NaN,82076.281250,75757.488120,74624.295943,73774.717373,81554.0,84880.4
15,NaN,NaN,82022.078125,75690.027111,74649.303979,73867.703457,81554.0,85593.8
16,NaN,NaN,82031.914062,75771.544813,74691.065398,73885.001041,81554.0,85593.8
17,NaN,NaN,82070.304688,75897.146169,74780.224917,73944.330225,80851.0,85593.8
18,NaN,NaN,82038.414062,75825.915290,74700.092978,73862.965317,81554.0,84880.4
19,NaN,NaN,82093.593750,75799.342674,74651.895823,73790.012449,81554.0,84880.4

df1_catalunya
       ,  'catalunya', 'red_bull_ring',
       'silverstone', 'hungaroring', 'spa', 'zandvoort', 'monza', 'baku',
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [90]:
    X = df1_catalunya.drop(drop_list, axis=1)
    y = df1_catalunya["q1"]
    X_2024 = X[df1_catalunya['year'] == 2024]
    y_2024 = y[df1_catalunya['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_catalunya['year'] != 2024], 
                                                        y[df1_catalunya['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_catalunya)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_catalunya_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_catalunya_2024['position_xgb'] = df_catalunya_2024['predictions_real_xgb'].rank(method='min')
    df_catalunya_2024['position_linearregresion'] = df_catalunya_2024['predictions_real_linearregresion'].rank(method='min')
    df_catalunya_2024['position_ridge'] = df_catalunya_2024['predictions_real_ridge'].rank(method='min')
    df_catalunya_2024['position_lasso'] = df_catalunya_2024['predictions_real_lasso'].rank(method='min')
    df_catalunya_2024['position_tree'] = df_catalunya_2024['predictions_real_tree'].rank(method='min')
    df_catalunya_2024['position_knn'] = df_catalunya_2024['predictions_real_knn'].rank(method='min')
df_catalunya_2024.to_csv('df_catalunya_2024.csv', index=False)
df1_catalunya.to_csv('df1_catalunya.csv', index=False)

df1_catalunya['q1'][-20:] = df_catalunya_2024['predictions_real_xgb'].values[-20:]
df1_catalunya['position_q1'][-20:] = df_catalunya_2024['position_xgb'].values[-20:]
df1_catalunya.to_csv('df1_catalunya_q1_predicted.csv', index=False)

comparison_df

100% of our data: 80.
80% for training data: 58.
20% for test data: 2.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,80227.0,80274.164062,73693.351562,88236.938613,74825.641814,93153.951641,72937.0,75173.4
1,81043.0,80998.070312,73716.210938,88077.923097,75035.086668,92927.713873,72937.0,75173.4
2,NaN,NaN,73705.031250,88118.212321,74864.970341,93027.276326,72937.0,75173.4
3,NaN,NaN,73703.437500,88228.294326,75372.023931,92944.726162,72937.0,75173.4
4,NaN,NaN,73475.375000,87957.920197,74825.531737,92827.632632,72937.0,75173.4
5,NaN,NaN,73677.062500,88195.716438,75391.370254,92897.483974,72937.0,75173.4
6,NaN,NaN,73704.257812,88050.028509,75063.206882,92830.576903,72937.0,75173.4
7,NaN,NaN,73710.445312,88238.570788,75864.942985,92769.313369,72937.0,75173.4
8,NaN,NaN,73747.218750,88225.289438,75287.564958,92974.446877,72937.0,75173.4
9,NaN,NaN,73698.078125,88180.978157,76006.551463,92670.052735,72937.0,75173.4
10,NaN,NaN,73697.476562,88013.411055,75342.656300,92631.361214,72937.0,75173.4
11,NaN,NaN,73707.289062,87986.630327,76526.058881,92178.643762,72937.0,73656.4
12,NaN,NaN,73707.289062,87978.614432,76339.671106,92232.633968,72937.0,75173.4
13,NaN,NaN,73703.437500,88256.308809,75637.730610,92871.997795,72937.0,75173.4
14,NaN,NaN,73724.968750,88239.318462,76273.091937,92626.752277,72937.0,75173.4
15,NaN,NaN,73713.304688,88191.537615,75609.286889,92810.424833,72937.0,75173.4
16,NaN,NaN,73710.976562,88188.388856,75700.560067,92773.970118,72937.0,75173.4
17,NaN,NaN,73729.656250,88525.350707,76129.989082,93044.973560,72937.0,75173.4
18,NaN,NaN,73713.421875,88232.682722,76196.145979,92654.501432,72937.0,75173.4
19,NaN,NaN,73788.523438,88376.005101,76474.339024,92685.245865,72937.0,75173.4

df1_red_bull_ring
       ,', 'red_bull_ring',
       'silverstone', 'hungaroring', 'spa', 'zandvoort', 'monza', 'baku',
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [91]:
    X = df1_red_bull_ring.drop(drop_list, axis=1)
    y = df1_red_bull_ring["q1"]
    X_2024 = X[df1_red_bull_ring['year'] == 2024]
    y_2024 = y[df1_red_bull_ring['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_red_bull_ring['year'] != 2024], 
                                                        y[df1_red_bull_ring['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_red_bull_ring)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_red_bull_ring_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_red_bull_ring_2024['position_xgb'] = df_red_bull_ring_2024['predictions_real_xgb'].rank(method='min')
    df_red_bull_ring_2024['position_linearregresion'] = df_red_bull_ring_2024['predictions_real_linearregresion'].rank(method='min')
    df_red_bull_ring_2024['position_ridge'] = df_red_bull_ring_2024['predictions_real_ridge'].rank(method='min')
    df_red_bull_ring_2024['position_lasso'] = df_red_bull_ring_2024['predictions_real_lasso'].rank(method='min')
    df_red_bull_ring_2024['position_tree'] = df_red_bull_ring_2024['predictions_real_tree'].rank(method='min')
    df_red_bull_ring_2024['position_knn'] = df_red_bull_ring_2024['predictions_real_knn'].rank(method='min')
df_red_bull_ring_2024.to_csv('df_red_bull_ring_2024.csv', index=False)
df1_red_bull_ring.to_csv('df1_red_bull_ring.csv', index=False)

df1_red_bull_ring['q1'][-20:] = df_red_bull_ring_2024['predictions_real_xgb'].values[-20:]
df1_red_bull_ring['position_q1'][-20:] = df_red_bull_ring_2024['position_xgb'].values[-20:]
df1_red_bull_ring.to_csv('df1_red_bull_ring_q1_predicted.csv', index=False)

comparison_df

100% of our data: 100.
80% for training data: 78.
20% for test data: 2.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,66366.0,66334.812500,65590.648438,70832.754534,65721.056160,66739.896003,65660.0,65522.8
1,65051.0,65181.394531,65599.914062,70823.408593,65795.354220,66789.135915,65660.0,65888.0
2,NaN,NaN,65640.914062,70827.159899,65755.827049,66793.710127,65660.0,66124.4
3,NaN,NaN,65638.507812,70823.042621,65828.784197,66806.038927,65660.0,66124.4
4,NaN,NaN,65635.289062,70836.413736,65774.906905,66762.725722,65660.0,65472.0
5,NaN,NaN,65629.828125,70830.491986,65870.547084,66794.061575,65660.0,65522.8
6,NaN,NaN,65633.023438,70836.428223,65808.981270,66773.510160,65660.0,65472.0
7,NaN,NaN,65629.828125,70821.501966,65943.066304,66808.019919,65660.0,65379.0
8,NaN,NaN,65591.671875,70811.479315,65799.142421,66750.895231,65660.0,65522.8
9,NaN,NaN,65591.671875,70815.501477,65944.744051,66803.221851,65660.0,65522.8
10,NaN,NaN,65629.828125,70686.460071,65818.801504,66644.541837,65419.0,65379.0
11,NaN,NaN,65636.015625,70712.781469,65969.637589,66616.969655,65419.0,65752.4
12,NaN,NaN,65634.250000,70682.488588,66002.796659,66701.657119,65660.0,65379.0
13,NaN,NaN,65636.015625,70800.865609,65873.108681,66771.171226,65660.0,65379.0
14,NaN,NaN,65629.828125,70791.547492,65977.777537,66792.402725,65419.0,65379.0
15,NaN,NaN,65629.828125,70860.419825,65970.739139,66861.687965,65660.0,65522.8
16,NaN,NaN,65629.828125,70839.810724,65945.322189,66820.763828,65660.0,65522.8
17,NaN,NaN,65982.851562,70965.415218,66072.589821,66971.976402,66235.0,65409.4
18,NaN,NaN,65591.671875,70804.702580,65983.353550,66811.498913,65660.0,65379.0
19,NaN,NaN,65599.203125,70785.191383,65967.916336,66766.175071,65419.0,65379.0

df1_silverstone
       ,
       'silverstone', 'hungaroring', 'spa', 'zandvoort', 'monza', 'baku',
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [92]:
    X = df1_silverstone.drop(drop_list, axis=1)
    y = df1_silverstone["q1"]
    X_2024 = X[df1_silverstone['year'] == 2024]
    y_2024 = y[df1_silverstone['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_silverstone['year'] != 2024], 
                                                        y[df1_silverstone['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_silverstone)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_silverstone_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_silverstone_2024['position_xgb'] = df_silverstone_2024['predictions_real_xgb'].rank(method='min')
    df_silverstone_2024['position_linearregresion'] = df_silverstone_2024['predictions_real_linearregresion'].rank(method='min')
    df_silverstone_2024['position_ridge'] = df_silverstone_2024['predictions_real_ridge'].rank(method='min')
    df_silverstone_2024['position_lasso'] = df_silverstone_2024['predictions_real_lasso'].rank(method='min')
    df_silverstone_2024['position_tree'] = df_silverstone_2024['predictions_real_tree'].rank(method='min')
    df_silverstone_2024['position_knn'] = df_silverstone_2024['predictions_real_knn'].rank(method='min')
df_silverstone_2024.to_csv('df_silverstone_2024.csv', index=False)
df1_silverstone.to_csv('df1_silverstone.csv', index=False)

df1_silverstone['q1'][-20:] = df_silverstone_2024['predictions_real_xgb'].values[-20:]
df1_silverstone['position_q1'][-20:] = df_silverstone_2024['position_xgb'].values[-20:]
df1_silverstone.to_csv('df1_silverstone_q1_predicted.csv', index=False)

comparison_df

100% of our data: 80.
80% for training data: 58.
20% for test data: 2.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,100791.0,97636.976562,91360.851562,176746.122590,94155.508040,127147.018223,89143.0,102011.4
1,102078.0,98142.750000,91368.382812,176880.423618,94314.841311,125434.967524,88917.0,102011.4
2,NaN,NaN,91388.296875,176826.598576,94295.744189,126428.389499,89143.0,102011.4
3,NaN,NaN,91388.296875,177059.530619,95158.350506,124344.479755,88917.0,102011.4
4,NaN,NaN,91383.953125,176763.957580,94505.464674,127522.483524,89143.0,102011.4
5,NaN,NaN,91378.914062,176790.530504,95717.967387,128427.402849,89143.0,102011.4
6,NaN,NaN,91387.328125,177037.991062,94637.785318,124724.898719,88917.0,102011.4
7,NaN,NaN,91386.625000,177008.376609,97344.884278,127434.150309,88917.0,102011.4
8,NaN,NaN,91343.601562,176927.125016,94805.742249,125173.267888,88917.0,102011.4
9,NaN,NaN,91333.296875,176913.218456,98289.988233,128127.617843,89143.0,102011.4
10,NaN,NaN,91429.132812,177305.935556,96078.379426,123346.860981,88917.0,102011.4
11,NaN,NaN,91329.906250,177668.645755,98094.627873,121198.144346,88917.0,89528.2
12,NaN,NaN,91396.453125,177541.549649,100411.016559,124604.044077,88917.0,102011.4
13,NaN,NaN,91388.296875,177084.703085,96376.526570,125521.493194,88917.0,102011.4
14,NaN,NaN,91402.726562,177286.901443,98096.166786,124432.504043,88917.0,102011.4
15,NaN,NaN,91395.750000,177006.341471,96301.227229,127480.950459,88917.0,102011.4
16,NaN,NaN,91397.421875,177032.850999,96442.202260,127191.336731,88917.0,102011.4
17,NaN,NaN,90860.234375,177057.727032,95514.090730,126740.519128,88917.0,102011.4
18,NaN,NaN,91354.796875,177045.908907,98517.863637,126835.232768,88917.0,102011.4
19,NaN,NaN,91362.109375,177135.343679,98684.515639,125795.302551,88917.0,102011.4

df1_hungaroring
       ,
       , 'hungaroring', 'spa', 'zandvoort', 'monza', 'baku',
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [93]:
    X = df1_hungaroring.drop(drop_list, axis=1)
    y = df1_hungaroring["q1"]
    X_2024 = X[df1_hungaroring['year'] == 2024]
    y_2024 = y[df1_hungaroring['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_hungaroring['year'] != 2024], 
                                                        y[df1_hungaroring['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_hungaroring)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_hungaroring_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_hungaroring_2024['position_xgb'] = df_hungaroring_2024['predictions_real_xgb'].rank(method='min')
    df_hungaroring_2024['position_linearregresion'] = df_hungaroring_2024['predictions_real_linearregresion'].rank(method='min')
    df_hungaroring_2024['position_ridge'] = df_hungaroring_2024['predictions_real_ridge'].rank(method='min')
    df_hungaroring_2024['position_lasso'] = df_hungaroring_2024['predictions_real_lasso'].rank(method='min')
    df_hungaroring_2024['position_tree'] = df_hungaroring_2024['predictions_real_tree'].rank(method='min')
    df_hungaroring_2024['position_knn'] = df_hungaroring_2024['predictions_real_knn'].rank(method='min')
df_hungaroring_2024.to_csv('df_hungaroring_2024.csv', index=False)
df1_hungaroring.to_csv('df1_hungaroring.csv', index=False)

df1_hungaroring['q1'][-20:] = df_hungaroring_2024['predictions_real_xgb'].values[-20:]
df1_hungaroring['position_q1'][-20:] = df_hungaroring_2024['position_xgb'].values[-20:]
df1_hungaroring.to_csv('df1_hungaroring_q1_predicted.csv', index=False)

comparison_df

100% of our data: 80.
80% for training data: 58.
20% for test data: 2.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,78653.0,78472.359375,78375.484375,77838.183688,78391.227474,79071.893117,78318.0,78575.0
1,79273.0,79181.968750,78379.289062,77986.998203,78482.508442,79091.688782,78318.0,78575.0
2,NaN,NaN,78374.171875,77922.670983,78451.962874,79105.403522,78318.0,78575.0
3,NaN,NaN,78366.523438,78149.493581,78585.296807,79120.761320,78318.0,78575.0
4,NaN,NaN,78352.875000,77817.303746,78315.197995,78919.521427,78318.0,78615.6
5,NaN,NaN,78340.242188,78096.773768,78550.754983,79096.690507,78318.0,78607.6
6,NaN,NaN,78362.835938,77909.155162,78366.687442,78920.237995,78318.0,78554.8
7,NaN,NaN,78370.570312,78380.874725,78732.674731,79154.566777,78318.0,78643.0
8,NaN,NaN,78274.664062,78040.688730,78505.638799,79074.180604,78318.0,78575.0
9,NaN,NaN,78365.515625,78390.217458,78707.391323,79087.985793,78318.0,78550.8
10,NaN,NaN,78352.984375,78246.339588,78603.450185,79026.880655,78716.0,78776.8
11,NaN,NaN,78437.906250,78738.473326,78904.022883,79088.772441,78716.0,78776.8
12,NaN,NaN,78439.765625,78832.877880,78974.562928,79133.497591,78716.0,78599.2
13,NaN,NaN,78360.890625,78231.976218,78626.038049,79102.499302,78318.0,78658.0
14,NaN,NaN,78271.492188,78650.656831,78908.072367,79220.749655,78318.0,78575.0
15,NaN,NaN,78456.507812,78358.212163,78757.076861,79239.469824,78716.0,78734.4
16,NaN,NaN,78456.929688,78378.683537,78761.435085,79221.441411,78716.0,78623.6
17,NaN,NaN,78566.515625,78406.727146,78827.311437,79332.108248,78922.0,78653.2
18,NaN,NaN,78211.367188,78360.515589,78659.146947,79009.188110,78143.0,78653.2
19,NaN,NaN,78220.664062,78435.530335,78698.444371,79001.394202,78143.0,78681.6

df1_spa
       ,
       , 'spa', 'zandvoort', 'monza', 'baku',
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [94]:
    X = df1_spa.drop(drop_list, axis=1)
    y = df1_spa["q1"]
    X_2024 = X[df1_spa['year'] == 2024]
    y_2024 = y[df1_spa['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_spa['year'] != 2024], 
                                                        y[df1_spa['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_spa)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_spa_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_spa_2024['position_xgb'] = df_spa_2024['predictions_real_xgb'].rank(method='min')
    df_spa_2024['position_linearregresion'] = df_spa_2024['predictions_real_linearregresion'].rank(method='min')
    df_spa_2024['position_ridge'] = df_spa_2024['predictions_real_ridge'].rank(method='min')
    df_spa_2024['position_lasso'] = df_spa_2024['predictions_real_lasso'].rank(method='min')
    df_spa_2024['position_tree'] = df_spa_2024['predictions_real_tree'].rank(method='min')
    df_spa_2024['position_knn'] = df_spa_2024['predictions_real_knn'].rank(method='min')
df_spa_2024.to_csv('df_spa_2024.csv', index=False)
df1_spa.to_csv('df1_spa.csv', index=False)

df1_spa['q1'][-20:] = df_spa_2024['predictions_real_xgb'].values[-20:]
df1_spa['position_q1'][-20:] = df_spa_2024['position_xgb'].values[-20:]
df1_spa.to_csv('df1_spa_q1_predicted.csv', index=False)

comparison_df

100% of our data: 80.
80% for training data: 58.
20% for test data: 2.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,105672.0,105920.414062,106305.625000,102661.279950,106459.041390,102784.416180,105050.0,105861.0
1,106692.0,106761.390625,106015.593750,102598.560247,106004.699962,102704.376609,105050.0,105861.0
2,NaN,NaN,106014.281250,102638.582950,106295.545821,102755.992684,105050.0,105861.0
3,NaN,NaN,106022.390625,102525.742404,105537.443442,102614.945792,105050.0,105861.0
4,NaN,NaN,106021.507812,102732.003366,106236.152613,102841.185712,105050.0,105861.0
5,NaN,NaN,106028.039062,102548.935897,105415.955709,102631.016686,105050.0,105861.0
6,NaN,NaN,105993.914062,102670.351951,105898.762962,102768.808019,105050.0,105861.0
7,NaN,NaN,106016.015625,102423.464977,104624.020389,102477.579693,105050.0,105842.0
8,NaN,NaN,106003.695312,102521.520707,105636.911836,102617.456730,105050.0,105861.0
9,NaN,NaN,106017.375000,102354.722171,104423.959004,102404.319531,105050.0,105842.0
10,NaN,NaN,106003.898438,102459.818975,104785.816882,102520.530806,105050.0,106268.2
11,NaN,NaN,106024.414062,102305.011656,103274.486802,102303.473615,105050.0,105991.6
12,NaN,NaN,106013.906250,102281.022361,103060.531326,102272.976028,105050.0,105926.4
13,NaN,NaN,106024.414062,102440.637244,105000.795121,102513.664435,105050.0,106074.8
14,NaN,NaN,106015.765625,102302.416356,103937.105084,102334.024783,105050.0,105777.0
15,NaN,NaN,106016.015625,102498.740411,104937.081999,102563.391813,105050.0,105842.0
16,NaN,NaN,106016.015625,102477.559101,104785.550362,102536.454482,105050.0,105842.0
17,NaN,NaN,106151.359375,102395.150897,104584.605557,102457.269920,105050.0,105759.8
18,NaN,NaN,106015.562500,102269.881024,104023.470820,102309.934603,105050.0,106030.0
19,NaN,NaN,106015.562500,102255.431158,103721.125347,102281.575575,105050.0,105863.6

df1_zandvoort
       ,
       , 'zandvoort', 'monza', 'baku',
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [95]:
    X = df1_zandvoort.drop(drop_list, axis=1)
    y = df1_zandvoort["q1"]
    X_2024 = X[df1_zandvoort['year'] == 2024]
    y_2024 = y[df1_zandvoort['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_zandvoort['year'] != 2024], 
                                                        y[df1_zandvoort['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_zandvoort)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_zandvoort_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_zandvoort_2024['position_xgb'] = df_zandvoort_2024['predictions_real_xgb'].rank(method='min')
    df_zandvoort_2024['position_linearregresion'] = df_zandvoort_2024['predictions_real_linearregresion'].rank(method='min')
    df_zandvoort_2024['position_ridge'] = df_zandvoort_2024['predictions_real_ridge'].rank(method='min')
    df_zandvoort_2024['position_lasso'] = df_zandvoort_2024['predictions_real_lasso'].rank(method='min')
    df_zandvoort_2024['position_tree'] = df_zandvoort_2024['predictions_real_tree'].rank(method='min')
    df_zandvoort_2024['position_knn'] = df_zandvoort_2024['predictions_real_knn'].rank(method='min')
df_zandvoort_2024.to_csv('df_zandvoort_2024.csv', index=False)
df1_zandvoort.to_csv('df1_zandvoort.csv', index=False)

df1_zandvoort['q1'][-20:] = df_zandvoort_2024['predictions_real_xgb'].values[-20:]
df1_zandvoort['position_q1'][-20:] = df_zandvoort_2024['position_xgb'].values[-20:]
df1_zandvoort.to_csv('df1_zandvoort_q1_predicted.csv', index=False)

comparison_df

100% of our data: 60.
80% for training data: 39.
20% for test data: 1.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,71331.0,71477.960938,72882.546875,70800.778752,71799.298354,72356.795319,72391.0,71829.8
1,NaN,NaN,72884.039062,70709.984768,71694.838150,72243.798215,72391.0,71994.4
2,NaN,NaN,72884.039062,70884.606957,71858.552072,72402.498067,72391.0,71829.8
3,NaN,NaN,72807.585938,70913.734003,71823.128939,72330.426745,72391.0,71829.8
4,NaN,NaN,72802.601562,70899.795617,71867.270660,72407.086967,72391.0,71994.4
5,NaN,NaN,72892.773438,70976.063249,71862.877821,72357.521784,72391.0,71829.8
6,NaN,NaN,72804.039062,70825.999044,71785.457232,72319.988374,72391.0,71994.4
7,NaN,NaN,72896.445312,71022.703041,71893.047137,72375.929174,72391.0,71829.8
8,NaN,NaN,72893.765625,70501.717050,71651.316916,72287.438786,72391.0,71792.8
9,NaN,NaN,72908.859375,71106.579595,71941.747559,72405.648149,72391.0,71829.8
10,NaN,NaN,72892.773438,70905.450548,71767.925560,72247.693100,72391.0,71829.8
11,NaN,NaN,72818.554688,70937.252791,71688.612476,72104.415190,72391.0,71994.4
12,NaN,NaN,72787.554688,70735.011289,71680.053276,72198.938371,72391.0,71767.0
13,NaN,NaN,72806.382812,70823.796429,71732.924954,72238.362896,72391.0,71994.4
14,NaN,NaN,72881.085938,70998.172503,71833.031048,72295.361425,72391.0,71994.4
15,NaN,NaN,72895.726562,70954.159323,71823.929840,72307.916586,72391.0,71829.8
16,NaN,NaN,72895.726562,70926.417158,71802.941912,72289.923605,72391.0,71994.4
17,NaN,NaN,72817.351562,71091.422774,71908.403605,72363.337959,72391.0,71994.4
18,NaN,NaN,72910.656250,70992.170708,71871.273561,72356.985039,72391.0,71829.8
19,NaN,NaN,72896.867188,70806.631820,71801.595282,72349.396259,72391.0,71792.8

df1_monza
       ,
       ,, 'monza', 'baku',
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [96]:
    X = df1_monza.drop(drop_list, axis=1)
    y = df1_monza["q1"]
    X_2024 = X[df1_monza['year'] == 2024]
    y_2024 = y[df1_monza['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_monza['year'] != 2024], 
                                                        y[df1_monza['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_monza)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_monza_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_monza_2024['position_xgb'] = df_monza_2024['predictions_real_xgb'].rank(method='min')
    df_monza_2024['position_linearregresion'] = df_monza_2024['predictions_real_linearregresion'].rank(method='min')
    df_monza_2024['position_ridge'] = df_monza_2024['predictions_real_ridge'].rank(method='min')
    df_monza_2024['position_lasso'] = df_monza_2024['predictions_real_lasso'].rank(method='min')
    df_monza_2024['position_tree'] = df_monza_2024['predictions_real_tree'].rank(method='min')
    df_monza_2024['position_knn'] = df_monza_2024['predictions_real_knn'].rank(method='min')
df_monza_2024.to_csv('df_monza_2024.csv', index=False)
df1_monza.to_csv('df1_monza.csv', index=False)

df1_monza['q1'][-20:] = df_monza_2024['predictions_real_xgb'].values[-20:]
df1_monza['position_q1'][-20:] = df_monza_2024['position_xgb'].values[-20:]
df1_monza.to_csv('df1_monza_q1_predicted.csv', index=False)

comparison_df

100% of our data: 60.
80% for training data: 39.
20% for test data: 1.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,81280.0,80961.398438,81473.718750,80379.455807,81597.981591,81967.611575,80922.0,81730.4
1,NaN,NaN,81467.898438,80434.860261,81617.682163,81976.278824,80922.0,81979.2
2,NaN,NaN,81447.898438,80461.109104,81648.938853,82008.505119,80922.0,81606.8
3,NaN,NaN,81481.851562,80441.269423,81596.587474,81947.039209,80922.0,81979.2
4,NaN,NaN,81482.054688,80417.096452,81651.671464,82026.116170,80922.0,82223.4
5,NaN,NaN,81469.664062,80535.656719,81665.546609,82007.644746,80922.0,82113.6
6,NaN,NaN,81480.453125,80515.808784,81718.683526,82082.947897,80922.0,82297.2
7,NaN,NaN,81468.062500,80708.230703,81831.609057,82171.006790,80922.0,82281.4
8,NaN,NaN,81472.835938,80674.154279,81889.903732,82255.364108,80922.0,82331.4
9,NaN,NaN,81472.320312,80722.137348,81796.159058,82120.582232,80922.0,82281.4
10,NaN,NaN,81469.664062,80571.292845,81686.066972,82021.672635,80922.0,82281.4
11,NaN,NaN,81471.921875,80821.982309,81810.323324,82106.322697,80922.0,82281.4
12,NaN,NaN,81480.296875,80958.537693,81955.247116,82251.104859,80922.0,82356.0
13,NaN,NaN,81463.125000,80616.984657,81767.117183,82115.006381,80922.0,82281.4
14,NaN,NaN,81468.062500,80754.792302,81760.309897,82063.937302,80922.0,82281.4
15,NaN,NaN,81469.664062,80558.257738,81660.446884,81994.101881,80922.0,82281.4
16,NaN,NaN,81471.125000,80624.580716,81739.284692,82076.183240,80922.0,82281.4
17,NaN,NaN,82172.304688,80708.322153,81824.944464,82163.949093,80922.0,82281.4
18,NaN,NaN,81472.835938,80886.461704,81958.930176,82280.024845,80922.0,82356.0
19,NaN,NaN,81472.835938,80928.761932,81972.507985,82284.710866,80922.0,82331.4

df1_baku
 
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [97]:
    X = df1_baku.drop(drop_list, axis=1)
    y = df1_baku["q1"]
    X_2024 = X[df1_baku['year'] == 2024]
    y_2024 = y[df1_baku['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_baku['year'] != 2024], 
                                                        y[df1_baku['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_baku)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_baku_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_baku_2024['position_xgb'] = df_baku_2024['predictions_real_xgb'].rank(method='min')
    df_baku_2024['position_linearregresion'] = df_baku_2024['predictions_real_linearregresion'].rank(method='min')
    df_baku_2024['position_ridge'] = df_baku_2024['predictions_real_ridge'].rank(method='min')
    df_baku_2024['position_lasso'] = df_baku_2024['predictions_real_lasso'].rank(method='min')
    df_baku_2024['position_tree'] = df_baku_2024['predictions_real_tree'].rank(method='min')
    df_baku_2024['position_knn'] = df_baku_2024['predictions_real_knn'].rank(method='min')
df_baku_2024.to_csv('df_baku_2024.csv', index=False)
df1_baku.to_csv('df1_baku.csv', index=False)

df1_baku['q1'][-20:] = df_baku_2024['predictions_real_xgb'].values[-20:]
df1_baku['position_q1'][-20:] = df_baku_2024['position_xgb'].values[-20:]
df1_baku.to_csv('df1_baku_q1_predicted.csv', index=False)

comparison_df

100% of our data: 80.
80% for training data: 58.
20% for test data: 2.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,103279.0,103691.859375,104070.093750,88061.764541,95244.648010,105675.650555,102722.0,103317.6
1,104437.0,104164.351562,104096.468750,88319.317513,95476.573495,105855.325289,102865.0,103102.8
2,NaN,NaN,103933.992188,88182.099437,95334.217785,105716.987139,102722.0,103317.6
3,NaN,NaN,103918.359375,88796.333502,95742.375621,105817.091981,102733.0,103102.8
4,NaN,NaN,104087.093750,88384.299456,95479.460380,105769.584539,102957.0,103346.2
5,NaN,NaN,104206.257812,89103.647562,96040.318576,106102.947690,102957.0,103212.0
6,NaN,NaN,104059.648438,88667.601859,95622.487566,105711.323922,102733.0,103317.6
7,NaN,NaN,104211.273438,89591.955471,96405.253635,106273.036520,102865.0,102818.4
8,NaN,NaN,104125.421875,88510.487121,95610.586596,105903.519176,102865.0,102176.6
9,NaN,NaN,104113.859375,89627.589633,96280.725604,105922.402938,102957.0,102642.6
10,NaN,NaN,104276.765625,90290.456123,97725.162919,108197.431602,102865.0,103389.6
11,NaN,NaN,103989.789062,90487.401864,96714.678631,105720.475160,102865.0,103155.0
12,NaN,NaN,104042.015625,90555.782878,96805.908620,105837.147823,102865.0,102294.6
13,NaN,NaN,104080.656250,89067.940086,96012.348990,106074.374243,102865.0,102104.6
14,NaN,NaN,104235.812500,89941.070546,96590.168214,106213.700942,102865.0,102104.6
15,NaN,NaN,104119.484375,89379.132834,96374.793145,106506.291330,102865.0,103131.4
16,NaN,NaN,104177.351562,89556.104707,96441.999668,106424.228261,102865.0,102390.2
17,NaN,NaN,104162.312500,89915.644774,97009.566960,107293.484734,102865.0,103184.0
18,NaN,NaN,104109.195312,89874.394296,96450.326348,105976.053324,102957.0,102945.0
19,NaN,NaN,104125.421875,90082.414676,96608.615760,106056.505517,102865.0,102642.6

df1_marina_bay
 
       'marina_bay', 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [98]:
    X = df1_marina_bay.drop(drop_list, axis=1)
    y = df1_marina_bay["q1"]
    X_2024 = X[df1_marina_bay['year'] == 2024]
    y_2024 = y[df1_marina_bay['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_marina_bay['year'] != 2024], 
                                                        y[df1_marina_bay['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_marina_bay)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_marina_bay_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_marina_bay_2024['position_xgb'] = df_marina_bay_2024['predictions_real_xgb'].rank(method='min')
    df_marina_bay_2024['position_linearregresion'] = df_marina_bay_2024['predictions_real_linearregresion'].rank(method='min')
    df_marina_bay_2024['position_ridge'] = df_marina_bay_2024['predictions_real_ridge'].rank(method='min')
    df_marina_bay_2024['position_lasso'] = df_marina_bay_2024['predictions_real_lasso'].rank(method='min')
    df_marina_bay_2024['position_tree'] = df_marina_bay_2024['predictions_real_tree'].rank(method='min')
    df_marina_bay_2024['position_knn'] = df_marina_bay_2024['predictions_real_knn'].rank(method='min')
df_marina_bay_2024.to_csv('df_marina_bay_2024.csv', index=False)
df1_marina_bay.to_csv('df1_marina_bay.csv', index=False)

df1_marina_bay['q1'][-20:] = df_marina_bay_2024['predictions_real_xgb'].values[-20:]
df1_marina_bay['position_q1'][-20:] = df_marina_bay_2024['position_xgb'].values[-20:]
df1_marina_bay.to_csv('df1_marina_bay_q1_predicted.csv', index=False)

comparison_df

100% of our data: 40.
80% for training data: 19.
20% for test data: 1.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,116985.0,116752.03125,113665.226562,109479.670397,109508.744032,109546.740276,113057.0,115654.6
1,NaN,NaN,113664.484375,109458.454207,109487.655418,109525.820486,113057.0,115654.6
2,NaN,NaN,113503.382812,109470.903232,109500.018916,109538.071332,113057.0,115654.6
3,NaN,NaN,113523.429688,109437.270098,109466.598672,109504.932117,113057.0,115654.6
4,NaN,NaN,113356.203125,109250.389505,109279.506156,109317.639498,113057.0,115286.4
5,NaN,NaN,113668.492188,109514.177078,109543.552269,109581.907320,113057.0,115611.4
6,NaN,NaN,113525.507812,109231.835287,109261.037322,109299.286149,113057.0,115286.4
7,NaN,NaN,113667.750000,109475.097544,109504.685798,109543.325021,113057.0,115611.4
8,NaN,NaN,113665.968750,109452.777377,109482.065298,109520.341961,113057.0,115654.6
9,NaN,NaN,113665.968750,109403.455034,109433.084269,109471.809683,113057.0,115654.6
10,NaN,NaN,113675.296875,108867.930990,108897.162150,108935.531457,113057.0,115424.6
11,NaN,NaN,113513.007812,108798.937539,108828.594215,108867.525925,113057.0,115424.6
12,NaN,NaN,113533.054688,108789.792858,108819.491740,108858.480138,113057.0,115424.6
13,NaN,NaN,113505.460938,109447.246871,109476.704780,109515.194659,113057.0,115074.8
14,NaN,NaN,113668.492188,109418.814047,109448.572865,109487.452464,113057.0,115074.8
15,NaN,NaN,113674.554688,109544.051868,109573.556489,109612.057983,113057.0,115424.6
16,NaN,NaN,113674.554688,109537.325241,109566.872440,109605.430140,113057.0,115424.6
17,NaN,NaN,116233.898438,110203.441951,110233.305048,110272.052529,113161.0,115424.6
18,NaN,NaN,113665.968750,109393.938113,109423.652964,109462.489711,113057.0,115654.6
19,NaN,NaN,113665.968750,109386.011841,109415.812696,109454.760752,113057.0,115654.6

df1_americas
 
       , 'americas', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [99]:
    X = df1_americas.drop(drop_list, axis=1)
    y = df1_americas["q1"]
    X_2024 = X[df1_americas['year'] == 2024]
    y_2024 = y[df1_americas['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_americas['year'] != 2024], 
                                                        y[df1_americas['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_americas)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_americas_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_americas_2024['position_xgb'] = df_americas_2024['predictions_real_xgb'].rank(method='min')
    df_americas_2024['position_linearregresion'] = df_americas_2024['predictions_real_linearregresion'].rank(method='min')
    df_americas_2024['position_ridge'] = df_americas_2024['predictions_real_ridge'].rank(method='min')
    df_americas_2024['position_lasso'] = df_americas_2024['predictions_real_lasso'].rank(method='min')
    df_americas_2024['position_tree'] = df_americas_2024['predictions_real_tree'].rank(method='min')
    df_americas_2024['position_knn'] = df_americas_2024['predictions_real_knn'].rank(method='min')
df_americas_2024.to_csv('df_americas_2024.csv', index=False)
df1_americas.to_csv('df1_americas.csv', index=False)

df1_americas['q1'][-20:] = df_americas_2024['predictions_real_xgb'].values[-20:]
df1_americas['position_q1'][-20:] = df_americas_2024['position_xgb'].values[-20:]
df1_americas.to_csv('df1_americas_q1_predicted.csv', index=False)

comparison_df

100% of our data: 60.
80% for training data: 39.
20% for test data: 1.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,95864.0,95933.835938,96472.851562,95487.126030,96397.291503,96726.581865,96577.0,96835.0
1,NaN,NaN,96467.078125,95563.275044,96463.397811,96788.506362,96577.0,96835.0
2,NaN,NaN,96500.335938,95445.356255,96369.877569,96704.382339,96577.0,96762.6
3,NaN,NaN,96497.015625,95538.982336,96364.156536,96661.764867,96577.0,96895.6
4,NaN,NaN,96475.312500,95501.641500,96391.620041,96713.047682,96577.0,96688.0
5,NaN,NaN,96487.078125,95546.193900,96366.661660,96662.288602,96577.0,96895.6
6,NaN,NaN,96481.460938,95434.190316,96315.295768,96633.255513,96577.0,96771.2
7,NaN,NaN,96507.718750,95456.309226,96196.218130,96461.313907,96577.0,96895.6
8,NaN,NaN,96463.578125,95248.944797,96099.770575,96402.539345,96577.0,96749.6
9,NaN,NaN,96473.156250,95579.866648,96330.700575,96600.520976,96577.0,96895.6
10,NaN,NaN,96494.015625,94968.635331,95739.414100,96014.977514,96577.0,96895.6
11,NaN,NaN,96493.945312,95134.084753,95737.233010,95950.090011,96577.0,96895.6
12,NaN,NaN,96476.945312,95203.781609,95809.743938,96020.299818,96577.0,96772.0
13,NaN,NaN,96502.125000,95418.537959,96206.702243,96489.988894,96577.0,96895.6
14,NaN,NaN,96501.812500,95632.196773,96319.094063,96565.009460,96577.0,96895.6
15,NaN,NaN,96496.250000,95531.027116,96316.706641,96599.261813,96577.0,96895.6
16,NaN,NaN,96497.234375,95370.152369,96109.527903,96373.899054,96577.0,96895.6
17,NaN,NaN,96743.039062,95888.735433,96639.773756,96909.710581,96577.0,96895.6
18,NaN,NaN,96473.812500,95459.704190,96170.591244,96424.901021,96577.0,96895.6
19,NaN,NaN,96460.203125,95548.339671,96213.674818,96447.525424,96577.0,96749.6

df1_rodriguez
 
       ', 'rodriguez', 'interlagos', 'vegas',
       'losail', 'yas_marina'

In [100]:
    X = df1_rodriguez.drop(drop_list, axis=1)
    y = df1_rodriguez["q1"]
    X_2024 = X[df1_rodriguez['year'] == 2024]
    y_2024 = y[df1_rodriguez['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_rodriguez['year'] != 2024], 
                                                        y[df1_rodriguez['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_rodriguez)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_rodriguez_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_rodriguez_2024['position_xgb'] = df_rodriguez_2024['predictions_real_xgb'].rank(method='min')
    df_rodriguez_2024['position_linearregresion'] = df_rodriguez_2024['predictions_real_linearregresion'].rank(method='min')
    df_rodriguez_2024['position_ridge'] = df_rodriguez_2024['predictions_real_ridge'].rank(method='min')
    df_rodriguez_2024['position_lasso'] = df_rodriguez_2024['predictions_real_lasso'].rank(method='min')
    df_rodriguez_2024['position_tree'] = df_rodriguez_2024['predictions_real_tree'].rank(method='min')
    df_rodriguez_2024['position_knn'] = df_rodriguez_2024['predictions_real_knn'].rank(method='min')
df_rodriguez_2024.to_csv('df_rodriguez_2024.csv', index=False)
df1_rodriguez.to_csv('df1_rodriguez.csv', index=False)

df1_rodriguez['q1'][-20:] = df_rodriguez_2024['predictions_real_xgb'].values[-20:]
df1_rodriguez['position_q1'][-20:] = df_rodriguez_2024['position_xgb'].values[-20:]
df1_rodriguez.to_csv('df1_rodriguez_q1_predicted.csv', index=False)

comparison_df

100% of our data: 60.
80% for training data: 39.
20% for test data: 1.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,79222.0,79511.101562,80440.234375,78504.021949,80698.950353,81127.815965,80859.0,80411.4
1,NaN,NaN,80445.242188,78593.634713,80665.967106,81070.015432,80859.0,80411.4
2,NaN,NaN,80445.421875,78588.499761,80748.381757,81170.234500,80859.0,80411.4
3,NaN,NaN,80445.960938,78695.747403,80648.536124,81028.402112,80859.0,80411.4
4,NaN,NaN,80405.031250,78712.106290,80830.195810,81243.577533,80859.0,80391.2
5,NaN,NaN,80442.414062,78815.771249,80756.058277,81133.498166,80859.0,80411.4
6,NaN,NaN,80450.054688,78434.217455,80423.504206,80809.984833,80859.0,80506.2
7,NaN,NaN,80441.421875,78564.505329,80241.922003,80565.549019,80859.0,80411.4
8,NaN,NaN,80461.710938,78439.809894,80392.532325,80767.383787,81167.0,80209.6
9,NaN,NaN,80451.867188,78943.631358,80613.895564,80937.508989,80859.0,80411.4
10,NaN,NaN,80432.414062,79482.855197,81160.894741,81485.989238,81167.0,80411.4
11,NaN,NaN,80427.078125,79875.176846,81159.839250,81405.889475,80859.0,80411.4
12,NaN,NaN,80425.664062,79978.267279,81222.283811,81455.798959,80859.0,80319.6
13,NaN,NaN,80445.960938,78892.963000,80740.107248,81099.504128,80859.0,80411.4
14,NaN,NaN,80451.671875,78948.220456,80494.219449,80792.078374,81167.0,80411.4
15,NaN,NaN,80416.656250,78722.879453,80525.492100,80874.950622,80859.0,80411.4
16,NaN,NaN,80422.039062,78842.690787,80615.380996,80959.018840,80859.0,80411.4
17,NaN,NaN,80462.453125,78017.977775,79857.749173,80214.015753,80859.0,80411.4
18,NaN,NaN,80454.367188,78597.378714,80130.268205,80425.296987,80859.0,80411.4
19,NaN,NaN,80462.210938,79050.704699,80549.714385,80834.036140,81167.0,80209.6

LinearRegression, Ridge, Lasso, DecisionTreeRegressor, KNeighborsRegressor, XGBRFRegressor

In [101]:
    X = df1_interlagos.drop(drop_list, axis=1)
    y = df1_interlagos["q1"]
    X_2024 = X[df1_interlagos['year'] == 2024]
    y_2024 = y[df1_interlagos['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_interlagos['year'] != 2024], 
                                                        y[df1_interlagos['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_interlagos)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_interlagos_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_interlagos_2024['position_xgb'] = df_interlagos_2024['predictions_real_xgb'].rank(method='min')
    df_interlagos_2024['position_linearregresion'] = df_interlagos_2024['predictions_real_linearregresion'].rank(method='min')
    df_interlagos_2024['position_ridge'] = df_interlagos_2024['predictions_real_ridge'].rank(method='min')
    df_interlagos_2024['position_lasso'] = df_interlagos_2024['predictions_real_lasso'].rank(method='min')
    df_interlagos_2024['position_tree'] = df_interlagos_2024['predictions_real_tree'].rank(method='min')
    df_interlagos_2024['position_knn'] = df_interlagos_2024['predictions_real_knn'].rank(method='min')
df_interlagos_2024.to_csv('df_interlagos_2024.csv', index=False)
df1_interlagos.to_csv('df1_interlagos.csv', index=False)

df1_interlagos['q1'][-20:] = df_interlagos_2024['predictions_real_xgb'].values[-20:]
df1_interlagos['position_q1'][-20:] = df_interlagos_2024['position_xgb'].values[-20:]
df1_interlagos.to_csv('df1_interlagos_q1_predicted.csv', index=False)


comparison_df

100% of our data: 60.
80% for training data: 39.
20% for test data: 1.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,73403.0,73561.867188,73882.375000,85931.245733,85845.682939,85843.143909,73106.0,73835.6
1,NaN,NaN,73907.281250,85998.083857,85881.688549,85854.483863,73954.0,73835.6
2,NaN,NaN,74077.609375,85267.387068,85212.474693,85228.024931,73954.0,73835.6
3,NaN,NaN,74043.687500,85450.874858,85359.682314,85347.478429,73954.0,73835.6
4,NaN,NaN,74223.250000,85484.441583,85432.658219,85455.316882,73954.0,73886.8
5,NaN,NaN,74083.085938,85944.021482,85788.102099,85728.342591,73106.0,73899.8
6,NaN,NaN,74073.234375,85641.084142,85572.573141,85582.942786,73954.0,73886.8
7,NaN,NaN,73927.820312,86140.388181,85953.808300,85870.770595,73106.0,73835.6
8,NaN,NaN,73961.101562,79802.023601,80138.642354,80393.443233,73106.0,74599.4
9,NaN,NaN,73763.515625,85715.634350,85635.444253,85632.065064,73106.0,73835.6
10,NaN,NaN,74313.593750,88099.541969,87779.054663,87606.788865,73106.0,73837.2
11,NaN,NaN,74305.203125,86941.097376,86657.495517,86498.761380,73954.0,73837.2
12,NaN,NaN,74243.265625,80866.936981,81089.431797,81255.083237,73954.0,74852.6
13,NaN,NaN,74111.265625,86888.040361,86682.448910,86591.921980,73954.0,73835.6
14,NaN,NaN,74071.414062,86908.709517,86690.543102,86587.651718,73106.0,73835.6
15,NaN,NaN,74082.687500,86895.159917,86764.455883,86731.709050,73106.0,74085.0
16,NaN,NaN,74111.226562,86251.495336,86057.948805,85969.613859,73106.0,74085.0
17,NaN,NaN,74314.726562,86212.584150,86113.732887,86102.383556,73954.0,74085.0
18,NaN,NaN,73916.976562,86529.730787,86349.971946,86275.902889,73106.0,73835.6
19,NaN,NaN,74071.210938,80088.914184,80350.565174,80545.681738,73106.0,74599.4

In [102]:
df1_vegas

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,position_q1,previous_year_position_q1,circuitref_fastlap,driver_time_vs_fastlap,car_time_vs_fastlap,previous_driver_time_vs_fastlap,previous_car_time_vs_fastlap,q1
1519,10273.0,1131,844.0,6.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1520,10276.0,1131,832.0,6.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1521,10274.0,1131,830.0,9.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1522,10279.0,1131,815.0,9.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1523,10275.0,1131,1.0,131.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1524,10280.0,1131,847.0,131.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1525,10277.0,1131,4.0,117.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1526,10285.0,1131,840.0,117.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1527,10278.0,1131,857.0,1.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1528,10286.0,1131,846.0,1.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1529,10281.0,1131,852.0,213.0,0.0,2024.0,22.0,81.0,vegas,150.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1530,10291.0,1131,817.0,213.0,0.0,2024.0,22.0,81.0,vegas,150.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1531,10292.0,1131,807.0,213.0,0.0,2024.0,22.0,81.0,vegas,150.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1532,10282.0,1131,822.0,51.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1533,10289.0,1131,855.0,51.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1534,10283.0,1131,842.0,214.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1535,10284.0,1131,839.0,214.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1536,10287.0,1131,825.0,210.0,0.0,2024.0,22.0,81.0,vegas,50.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1537,10288.0,1131,848.0,3.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN
1538,10290.0,1131,858.0,3.0,0.0,2024.0,22.0,81.0,vegas,100.0,100.0,0.0,20.0,92726.0,NaN,NaN,0.0,0.0,NaN

    X = df1_vegas.drop(drop_list, axis=1)
    y = df1_vegas["q1"]
    X_2024 = X[df1_vegas['year'] == 2024]
    y_2024 = y[df1_vegas['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_vegas['year'] != 2024], 
                                                        y[df1_vegas['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_vegas)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                               series_pred_2024_4, series_pred_2024_5], axis=1)
    df_vegas_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_vegas_2024['position_xgb'] = df_vegas_2024['predictions_real_xgb'].rank(method='min')
    df_vegas_2024['position_linearregresion'] = df_vegas_2024['predictions_real_linearregresion'].rank(method='min')
    df_vegas_2024['position_ridge'] = df_vegas_2024['predictions_real_ridge'].rank(method='min')
    df_vegas_2024['position_lasso'] = df_vegas_2024['predictions_real_lasso'].rank(method='min')
    df_vegas_2024['position_tree'] = df_vegas_2024['predictions_real_tree'].rank(method='min')
    df_vegas_2024['position_knn'] = df_vegas_2024['predictions_real_knn'].rank(method='min')
df_vegas_2024.to_csv('df_vegas_2024.csv', index=False)
df1_vegas.to_csv('df1_vegas.csv', index=False)

df1_vegas['q1'][-20:] = df_vegas_2024['predictions_real_xgb'].values[-20:]
df1_vegas['position_q1'][-20:] = df_vegas_2024['position_xgb'].values[-20:]
df1_vegas.to_csv('df1_vegas_q1_predicted.csv', index=False)

comparison_df

In [103]:
df1_losail

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,position_q1,previous_year_position_q1,circuitref_fastlap,driver_time_vs_fastlap,car_time_vs_fastlap,previous_driver_time_vs_fastlap,previous_car_time_vs_fastlap,q1
0,9116.0,1051,1.0,131.0,1.0,2021.0,20.0,78.0,losail,90.0,95.0,1.0,20.0,83777.0,-1876.0,-1818.5,0.0,0.0,81901.0
1,9118.0,1051,822.0,131.0,3.0,2021.0,20.0,78.0,losail,90.0,85.0,3.0,20.0,83777.0,-1761.0,-1818.5,0.0,0.0,82016.0
2,9117.0,1051,830.0,9.0,2.0,2021.0,20.0,78.0,losail,82.5,90.0,2.0,20.0,83777.0,-1781.0,-1580.0,0.0,0.0,81996.0
3,9126.0,1051,815.0,9.0,5.0,2021.0,20.0,78.0,losail,82.5,75.0,5.0,20.0,83777.0,-1379.0,-1580.0,0.0,0.0,82398.0
4,9122.0,1051,832.0,6.0,4.0,2021.0,20.0,78.0,losail,57.5,80.0,4.0,20.0,83777.0,-1473.0,-1254.0,0.0,0.0,82304.0
5,9128.0,1051,844.0,6.0,13.0,2021.0,20.0,78.0,losail,57.5,35.0,13.0,20.0,83777.0,-1035.0,-1254.0,0.0,0.0,82742.0
6,9120.0,1051,4.0,214.0,6.0,2021.0,20.0,78.0,losail,57.5,70.0,6.0,20.0,83777.0,-1355.0,-1283.5,0.0,0.0,82422.0
7,9124.0,1051,839.0,214.0,11.0,2021.0,20.0,78.0,losail,57.5,45.0,11.0,20.0,83777.0,-1212.0,-1283.5,0.0,0.0,82565.0
8,9123.0,1051,852.0,213.0,7.0,2021.0,20.0,78.0,losail,62.5,65.0,7.0,20.0,83777.0,-1319.0,-1280.5,0.0,0.0,82458.0
9,9119.0,1051,842.0,213.0,8.0,2021.0,20.0,78.0,losail,62.5,60.0,8.0,20.0,83777.0,-1242.0,-1280.5,0.0,0.0,82535.0
10,9125.0,1051,20.0,117.0,9.0,2021.0,20.0,78.0,losail,52.5,55.0,9.0,20.0,83777.0,-1228.0,-1227.0,0.0,0.0,82549.0
11,9127.0,1051,840.0,117.0,10.0,2021.0,20.0,78.0,losail,52.5,50.0,10.0,20.0,83777.0,-1226.0,-1227.0,0.0,0.0,82551.0
12,9129.0,1051,817.0,1.0,12.0,2021.0,20.0,78.0,losail,35.0,40.0,12.0,20.0,83777.0,-1089.0,-1013.5,0.0,0.0,82688.0
13,9121.0,1051,846.0,1.0,14.0,2021.0,20.0,78.0,losail,35.0,30.0,14.0,20.0,83777.0,-938.0,-1013.5,0.0,0.0,82839.0
14,9130.0,1051,847.0,3.0,15.0,2021.0,20.0,78.0,losail,20.0,25.0,15.0,20.0,83777.0,-914.0,-739.0,0.0,0.0,82863.0
15,9132.0,1051,849.0,3.0,17.0,2021.0,20.0,78.0,losail,20.0,15.0,17.0,20.0,83777.0,-564.0,-739.0,0.0,0.0,83213.0
16,9131.0,1051,8.0,51.0,16.0,2021.0,20.0,78.0,losail,15.0,20.0,16.0,20.0,83777.0,-621.0,-568.0,0.0,0.0,83156.0
17,9133.0,1051,841.0,51.0,18.0,2021.0,20.0,78.0,losail,15.0,10.0,18.0,20.0,83777.0,-515.0,-568.0,0.0,0.0,83262.0
18,9134.0,1051,854.0,210.0,19.0,2021.0,20.0,78.0,losail,2.5,5.0,19.0,20.0,83777.0,-370.0,856.0,0.0,0.0,83407.0
19,9135.0,1051,853.0,210.0,20.0,2021.0,20.0,78.0,losail,2.5,0.0,20.0,20.0,83777.0,2082.0,856.0,0.0,0.0,85859.0
1539,10293.0,1132,844.0,6.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,13.0,83777.0,NaN,NaN,-1035.0,-1254.0,NaN
1540,10296.0,1132,832.0,6.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,4.0,83777.0,NaN,NaN,-1473.0,-1254.0,NaN
1541,10294.0,1132,830.0,9.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,2.0,83777.0,NaN,NaN,-1781.0,-1580.0,NaN
1542,10299.0,1132,815.0,9.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,5.0,83777.0,NaN,NaN,-1379.0,-1580.0,NaN
1543,10295.0,1132,1.0,131.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,1.0,83777.0,NaN,NaN,-1876.0,-1818.5,NaN
1544,10300.0,1132,847.0,131.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,15.0,83777.0,NaN,NaN,-914.0,-739.0,NaN
1545,10297.0,1132,4.0,117.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,6.0,83777.0,NaN,NaN,-1355.0,-1283.5,NaN
1546,10305.0,1132,840.0,117.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,10.0,83777.0,NaN,NaN,-1226.0,-1227.0,NaN
1547,10298.0,1132,857.0,1.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,20.0,83777.0,NaN,NaN,0.0,0.0,NaN
1548,10306.0,1132,846.0,1.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,14.0,83777.0,NaN,NaN,-938.0,-1013.5,NaN
1549,10301.0,1132,852.0,213.0,0.0,2024.0,23.0,78.0,losail,150.0,100.0,0.0,7.0,83777.0,NaN,NaN,-1319.0,-1280.5,NaN
1550,10311.0,1132,817.0,213.0,0.0,2024.0,23.0,78.0,losail,150.0,100.0,0.0,12.0,83777.0,NaN,NaN,-1089.0,-1013.5,NaN
1551,10312.0,1132,807.0,213.0,0.0,2024.0,23.0,78.0,losail,150.0,100.0,0.0,20.0,83777.0,NaN,NaN,0.0,0.0,NaN
1552,10302.0,1132,822.0,51.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,3.0,83777.0,NaN,NaN,-1761.0,-1818.5,NaN
1553,10309.0,1132,855.0,51.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,20.0,83777.0,NaN,NaN,0.0,0.0,NaN
1554,10303.0,1132,842.0,214.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,8.0,83777.0,NaN,NaN,-1242.0,-1280.5,NaN
1555,10304.0,1132,839.0,214.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,11.0,83777.0,NaN,NaN,-1212.0,-1283.5,NaN
1556,10307.0,1132,825.0,210.0,0.0,2024.0,23.0,78.0,losail,50.0,100.0,0.0,20.0,83777.0,NaN,NaN,0.0,0.0,NaN
1557,10308.0,1132,848.0,3.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,20.0,83777.0,NaN,NaN,0.0,0.0,NaN
1558,10310.0,1132,858.0,3.0,0.0,2024.0,23.0,78.0,losail,100.0,100.0,0.0,20.0,83777.0,NaN,NaN,0.0,0.0,NaN

In [104]:
    X = df1_losail.drop(drop_list, axis=1)
    y = df1_losail["q1"]
    X_2024 = X[df1_losail['year'] == 2024]
    y_2024 = y[df1_losail['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_losail['year'] != 2024], 
                                                        y[df1_losail['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_losail)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_losail_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_losail_2024['position_xgb'] = df_losail_2024['predictions_real_xgb'].rank(method='min')
    df_losail_2024['position_linearregresion'] = df_losail_2024['predictions_real_linearregresion'].rank(method='min')
    df_losail_2024['position_ridge'] = df_losail_2024['predictions_real_ridge'].rank(method='min')
    df_losail_2024['position_lasso'] = df_losail_2024['predictions_real_lasso'].rank(method='min')
    df_losail_2024['position_tree'] = df_losail_2024['predictions_real_tree'].rank(method='min')
    df_losail_2024['position_knn'] = df_losail_2024['predictions_real_knn'].rank(method='min')
df_losail_2024.to_csv('df_losail_2024.csv', index=False)
df1_losail.to_csv('df1_losail.csv', index=False)

df1_losail['q1'][-20:] = df_losail_2024['predictions_real_xgb'].values[-20:]
df1_losail['position_q1'][-20:] = df_losail_2024['position_xgb'].values[-20:]
df1_losail.to_csv('df1_losail_q1_predicted.csv', index=False)

comparison_df

100% of our data: 40.
80% for training data: 19.
20% for test data: 1.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,83407.0,84258.03125,85037.320312,142335.497422,141849.432928,142176.240275,82304.0,82860.6
1,NaN,NaN,85037.320312,142487.684779,142000.380295,142328.019914,82304.0,82860.6
2,NaN,NaN,85044.414062,142393.210212,141906.723235,142233.813036,82398.0,82860.6
3,NaN,NaN,85043.046875,142648.320424,142159.766842,142488.244301,82398.0,82860.6
4,NaN,NaN,85044.234375,142605.402329,142118.126106,142445.652884,82398.0,82485.2
5,NaN,NaN,85045.929688,143112.719627,142623.384396,142952.391451,82398.0,83468.6
6,NaN,NaN,85045.382812,142663.822497,142175.762014,142503.816330,82398.0,82485.2
7,NaN,NaN,85045.929688,143323.913000,142832.553535,143162.920617,82398.0,83456.6
8,NaN,NaN,85616.250000,142582.287981,142094.172236,142422.360077,85859.0,82860.6
9,NaN,NaN,85037.320312,142994.272325,142502.850126,142833.259620,82304.0,82860.6
10,NaN,NaN,85107.445312,142728.571291,142238.359475,142567.397767,82398.0,83193.6
11,NaN,NaN,85046.132812,143237.327098,142742.982027,143074.795098,82398.0,83193.6
12,NaN,NaN,85044.562500,143286.298676,142791.540222,143123.630072,82398.0,83193.6
13,NaN,NaN,85046.132812,142944.854010,142454.933697,142784.330953,82398.0,82860.6
14,NaN,NaN,85617.789062,143317.826173,142825.013088,143156.358875,85859.0,82860.6
15,NaN,NaN,85045.929688,143541.214512,143050.388558,143380.397563,82398.0,83193.6
16,NaN,NaN,85045.929688,143592.236554,143100.997280,143431.283816,82398.0,83193.6
17,NaN,NaN,85085.148438,144439.087384,143946.835750,144278.360248,82398.0,83339.0
18,NaN,NaN,85037.320312,143105.268401,142613.013587,142943.983076,82304.0,82860.6
19,NaN,NaN,85616.250000,143211.999261,142718.917946,143050.444219,85859.0,82953.6

In [105]:
df1_yas_marina

,qualifyid,raceid,driverid,constructorid,position_final,year,round,circuitid,circuitref,car_condition,driver_condition,position_q1,previous_year_position_q1,circuitref_fastlap,driver_time_vs_fastlap,car_time_vs_fastlap,previous_driver_time_vs_fastlap,previous_car_time_vs_fastlap,q1
419,9157.0,1073,1.0,131.0,1.0,2021.0,22.0,24.0,yas_marina,92.5,95.0,1.0,20.0,83445.0,-600.0,-464.0,0.0,0.0,82845.0
420,9161.0,1073,822.0,131.0,2.0,2021.0,22.0,24.0,yas_marina,92.5,90.0,2.0,20.0,83445.0,-328.0,-464.0,0.0,0.0,83117.0
421,9156.0,1073,830.0,9.0,3.0,2021.0,22.0,24.0,yas_marina,82.5,85.0,3.0,20.0,83445.0,-123.0,-109.0,0.0,0.0,83322.0
422,9159.0,1073,815.0,9.0,4.0,2021.0,22.0,24.0,yas_marina,82.5,80.0,4.0,20.0,83445.0,-95.0,-109.0,0.0,0.0,83350.0
423,9163.0,1073,852.0,213.0,5.0,2021.0,22.0,24.0,yas_marina,70.0,75.0,5.0,20.0,83445.0,-17.0,13.5,0.0,0.0,83428.0
424,9167.0,1073,842.0,213.0,7.0,2021.0,22.0,24.0,yas_marina,70.0,65.0,7.0,20.0,83445.0,44.0,13.5,0.0,0.0,83489.0
425,9162.0,1073,844.0,6.0,6.0,2021.0,22.0,24.0,yas_marina,62.5,70.0,6.0,20.0,83445.0,22.0,100.5,0.0,0.0,83467.0
426,9160.0,1073,832.0,6.0,9.0,2021.0,22.0,24.0,yas_marina,62.5,55.0,9.0,20.0,83445.0,179.0,100.5,0.0,0.0,83624.0
427,9158.0,1073,846.0,1.0,8.0,2021.0,22.0,24.0,yas_marina,52.5,60.0,8.0,20.0,83445.0,108.0,246.0,0.0,0.0,83553.0
428,9165.0,1073,817.0,1.0,11.0,2021.0,22.0,24.0,yas_marina,52.5,45.0,11.0,20.0,83445.0,384.0,246.0,0.0,0.0,83829.0
429,9164.0,1073,839.0,214.0,10.0,2021.0,22.0,24.0,yas_marina,45.0,50.0,10.0,20.0,83445.0,319.0,360.0,0.0,0.0,83764.0
430,9166.0,1073,4.0,214.0,12.0,2021.0,22.0,24.0,yas_marina,45.0,40.0,12.0,20.0,83445.0,401.0,360.0,0.0,0.0,83846.0
431,9168.0,1073,840.0,117.0,13.0,2021.0,22.0,24.0,yas_marina,30.0,35.0,13.0,20.0,83445.0,616.0,698.0,0.0,0.0,84061.0
432,9170.0,1073,20.0,117.0,15.0,2021.0,22.0,24.0,yas_marina,30.0,25.0,15.0,20.0,83445.0,780.0,698.0,0.0,0.0,84225.0
433,9169.0,1073,841.0,51.0,14.0,2021.0,22.0,24.0,yas_marina,20.0,30.0,14.0,20.0,83445.0,673.0,1003.5,0.0,0.0,84118.0
434,9173.0,1073,8.0,51.0,18.0,2021.0,22.0,24.0,yas_marina,20.0,10.0,18.0,20.0,83445.0,1334.0,1003.5,0.0,0.0,84779.0
435,9171.0,1073,849.0,3.0,16.0,2021.0,22.0,24.0,yas_marina,17.5,20.0,16.0,20.0,83445.0,893.0,935.5,0.0,0.0,84338.0
436,9172.0,1073,847.0,3.0,17.0,2021.0,22.0,24.0,yas_marina,17.5,15.0,17.0,20.0,83445.0,978.0,935.5,0.0,0.0,84423.0
437,9174.0,1073,854.0,210.0,19.0,2021.0,22.0,24.0,yas_marina,2.5,5.0,19.0,20.0,83445.0,1461.0,1850.5,0.0,0.0,84906.0
438,9175.0,1073,853.0,210.0,20.0,2021.0,22.0,24.0,yas_marina,2.5,0.0,20.0,20.0,83445.0,2240.0,1850.5,0.0,0.0,85685.0
859,9613.0,1096,830.0,9.0,1.0,2022.0,22.0,24.0,yas_marina,92.5,95.0,1.0,3.0,83445.0,1309.0,1342.0,-123.0,-109.0,84754.0
860,9614.0,1096,815.0,9.0,2.0,2022.0,22.0,24.0,yas_marina,92.5,90.0,2.0,4.0,83445.0,1375.0,1342.0,-95.0,-109.0,84820.0
861,9616.0,1096,832.0,6.0,3.0,2022.0,22.0,24.0,yas_marina,82.5,85.0,3.0,9.0,83445.0,1645.0,1705.5,179.0,100.5,85090.0
862,9615.0,1096,844.0,6.0,4.0,2022.0,22.0,24.0,yas_marina,82.5,80.0,4.0,6.0,83445.0,1766.0,1705.5,22.0,100.5,85211.0
863,9619.0,1096,846.0,1.0,5.0,2022.0,22.0,24.0,yas_marina,52.5,75.0,5.0,8.0,83445.0,1942.0,2131.5,108.0,246.0,85387.0
864,9622.0,1096,817.0,1.0,14.0,2022.0,22.0,24.0,yas_marina,52.5,30.0,14.0,11.0,83445.0,2321.0,2131.5,384.0,246.0,85766.0
865,9621.0,1096,20.0,117.0,6.0,2022.0,22.0,24.0,yas_marina,52.5,70.0,6.0,15.0,83445.0,2078.0,2187.0,780.0,698.0,85523.0
866,9626.0,1096,840.0,117.0,13.0,2022.0,22.0,24.0,yas_marina,52.5,35.0,13.0,13.0,83445.0,2296.0,2187.0,616.0,698.0,85741.0
867,9618.0,1096,847.0,131.0,7.0,2022.0,22.0,24.0,yas_marina,62.5,65.0,7.0,17.0,83445.0,2100.0,2124.5,978.0,935.5,85545.0
868,9617.0,1096,1.0,131.0,8.0,2022.0,22.0,24.0,yas_marina,62.5,60.0,8.5,1.0,83445.0,2149.0,2124.5,-600.0,-464.0,85594.0
869,9627.0,1096,855.0,51.0,9.0,2022.0,22.0,24.0,yas_marina,32.5,55.0,8.5,20.0,83445.0,2149.0,2298.0,0.0,0.0,85594.0
870,9630.0,1096,822.0,51.0,18.0,2022.0,22.0,24.0,yas_marina,32.5,10.0,18.0,2.0,83445.0,2447.0,2298.0,-328.0,-464.0,85892.0
871,9624.0,1096,852.0,213.0,10.0,2022.0,22.0,24.0,yas_marina,32.5,50.0,10.0,5.0,83445.0,2185.0,2299.5,-17.0,13.5,85630.0
872,9629.0,1096,842.0,213.0,17.0,2022.0,22.0,24.0,yas_marina,32.5,15.0,17.0,7.0,83445.0,2414.0,2299.5,44.0,13.5,85859.0
873,9625.0,1096,854.0,210.0,11.0,2022.0,22.0,24.0,yas_marina,32.5,45.0,11.0,19.0,83445.0,2266.0,2327.5,1461.0,1850.5,85711.0
874,9628.0,1096,825.0,210.0,16.0,2022.0,22.0,24.0,yas_marina,32.5,20.0,16.0,20.0,83445.0,2389.0,2327.5,0.0,0.0,85834.0
875,9620.0,1096,839.0,214.0,12.0,2022.0,22.0,24.0,yas_marina,32.5,40.0,12.0,10.0,83445.0,2290.0,2313.5,319.0,360.0,85735.0
876,9623.0,1096,4.0,214.0,15.0,2022.0,22.0,24.0,yas_marina,32.5,25.0,15.0,12.0,83445.0,2337.0,2313.5,401.0,360.0,85782.0
877,9631.0,1096,848.0,3.0,19.0,2022.0,22.0,24.0,yas_marina,2.5,5.0,19.0,20.0,83445.0,2583.0,2596.0,0.0,0.0,86028.0
878,9632.0,1096,849.0,3.0,20.0,2022.0,22.0,24.0,yas_marina,2.5,0.0,20.0,16.0,83445.0,2609.0,2596.0,893.0,935.5,86054.0
1559,10313.0,1133,844.0,6.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,4.0,83445.0,NaN,NaN,1766.0,1705.5,NaN
1560,10316.0,1133,832.0,6.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,3.0,83445.0,NaN,NaN,1645.0,1705.5,NaN
1561,10314.0,1133,830.0,9.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,1.0,83445.0,NaN,NaN,1309.0,1342.0,NaN
1562,10319.0,1133,815.0,9.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,2.0,83445.0,NaN,NaN,1375.0,1342.0,NaN
1563,10315.0,1133,1.0,131.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,8.5,83445.0,NaN,NaN,2149.0,2124.5,NaN
1564,10320.0,1133,847.0,131.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,7.0,83445.0,NaN,NaN,2100.0,2124.5,NaN
1565,10317.0,1133,4.0,117.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,15.0,83445.0,NaN,NaN,2337.0,2313.5,NaN
1566,10325.0,1133,840.0,117.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,13.0,83445.0,NaN,NaN,2296.0,2187.0,NaN
1567,10318.0,1133,857.0,1.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,20.0,83445.0,NaN,NaN,0.0,0.0,NaN
1568,10326.0,1133,846.0,1.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,5.0,83445.0,NaN,NaN,1942.0,2131.5,NaN
1569,10321.0,1133,852.0,213.0,0.0,2024.0,24.0,24.0,yas_marina,150.0,100.0,0.0,10.0,83445.0,NaN,NaN,2185.0,2299.5,NaN
1570,10331.0,1133,817.0,213.0,0.0,2024.0,24.0,24.0,yas_marina,150.0,100.0,0.0,14.0,83445.0,NaN,NaN,2321.0,2131.5,NaN
1571,10332.0,1133,807.0,213.0,0.0,2024.0,24.0,24.0,yas_marina,150.0,100.0,0.0,20.0,83445.0,NaN,NaN,0.0,0.0,NaN
1572,10322.0,1133,822.0,51.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,18.0,83445.0,NaN,NaN,2447.0,2298.0,NaN
1573,10329.0,1133,855.0,51.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,8.5,83445.0,NaN,NaN,2149.0,2298.0,NaN
1574,10323.0,1133,842.0,214.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,17.0,83445.0,NaN,NaN,2414.0,2299.5,NaN
1575,10324.0,1133,839.0,214.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,12.0,83445.0,NaN,NaN,2290.0,2313.5,NaN
1576,10327.0,1133,825.0,210.0,0.0,2024.0,24.0,24.0,yas_marina,50.0,100.0,0.0,16.0,83445.0,NaN,NaN,2389.0,2327.5,NaN
1577,10328.0,1133,848.0,3.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,19.0,83445.0,NaN,NaN,2583.0,2596.0,NaN
1578,10330.0,1133,858.0,3.0,0.0,2024.0,24.0,24.0,yas_marina,100.0,100.0,0.0,20.0,83445.0,NaN,NaN,0.0,0.0,NaN

In [106]:
    X = df1_yas_marina.drop(drop_list, axis=1)
    y = df1_yas_marina["q1"]
    X_2024 = X[df1_yas_marina['year'] == 2024]
    y_2024 = y[df1_yas_marina['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[df1_yas_marina['year'] != 2024], 
                                                        y[df1_yas_marina['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    print(f'100% of our data: {len(df1_yas_marina)}.')
    print(f'80% for training data: {len(X_train)}.')
    print(f'20% for test data: {len(X_test)}.')

 
    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_linear_2024  = model.predict(X_2024)
    series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')
    
    r2_3 = r2_score(y_test, predictions)
    RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
    MSE_3 = mean_squared_error(y_test, predictions)
    MAE_3 = mean_absolute_error(y_test, predictions)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    predictions_ridge = ridge.predict(X_test)
    predictions_ridge_2024 = ridge.predict(X_2024)
    series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')
  
    r2_3_2 = r2_score(y_test, predictions_ridge)
    RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
    MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
    MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)
    
    lasso = Lasso()
    lasso.fit(X_train, y_train)
    predictions_lasso = lasso.predict(X_test)
    predictions_lasso_2024 = lasso.predict(X_2024)
    series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

    r2_3_3 = r2_score(y_test, predictions_lasso)
    RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
    MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
    MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)
    
    tree = DecisionTreeRegressor()
    tree.fit(X_train, y_train)
    predictions_tree = tree.predict(X_test)
    predictions_tree_2024 = tree.predict(X_2024)
    series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

    r2_3_4 = r2_score(y_test, predictions_tree)
    RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
    MSE_3_4 = mean_squared_error(y_test, predictions_tree)
    MAE_3_4 = mean_absolute_error(y_test, predictions_tree)
    
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    predictions_knn = knn.predict(X_test)
    predictions_knn_2024 = knn.predict(X_2024)
    series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

    r2_3_5 = r2_score(y_test, predictions_knn)
    RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
    MSE_3_5 = mean_squared_error(y_test, predictions_knn)
    MAE_3_5 = mean_absolute_error(y_test, predictions_knn)
    
    xgbr = xgb.XGBRFRegressor()
    xgbr.fit(X_train, y_train)
    predictions_xgb = xgbr.predict(X_test)
    predictions_xgb_2024  = xgbr.predict(X_2024)

    r2_3_6 = r2_score(y_test, predictions_xgb)
    RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
    MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
    MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

    series_pred = pd.Series(predictions_xgb, name='predictions_test')
    series_y_test = pd.Series(y_test, name='overall')
    series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
    comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_yas_marina_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                               series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                              series_pred_2024_4, series_pred_2024_5], axis=1)
    df_yas_marina_2024['position_xgb'] = df_yas_marina_2024['predictions_real_xgb'].rank(method='min')
    df_yas_marina_2024['position_linearregresion'] = df_yas_marina_2024['predictions_real_linearregresion'].rank(method='min')
    df_yas_marina_2024['position_ridge'] = df_yas_marina_2024['predictions_real_ridge'].rank(method='min')
    df_yas_marina_2024['position_lasso'] = df_yas_marina_2024['predictions_real_lasso'].rank(method='min')
    df_yas_marina_2024['position_tree'] = df_yas_marina_2024['predictions_real_tree'].rank(method='min')
    df_yas_marina_2024['position_knn'] = df_yas_marina_2024['predictions_real_knn'].rank(method='min')
df_yas_marina_2024.to_csv('df_yas_marina_2024.csv', index=False)
df1_yas_marina.to_csv('df1_yas_marina.csv', index=False)

df1_yas_marina['q1'][-20:] = df_yas_marina_2024['predictions_real_xgb'].values[-20:]
df1_yas_marina['position_q1'][-20:] = df_yas_marina_2024['position_xgb'].values[-20:]
df1_yas_marina.to_csv('df1_yas_marina_q1_predicted.csv', index=False)

comparison_df

100% of our data: 60.
80% for training data: 39.
20% for test data: 1.

,overall,predictions_test,predictions_real_xgb,predictions_real_linearregresion,predictions_real_ridge,predictions_real_lasso,predictions_real_tree,predictions_real_knn
0,85090.0,85203.53125,85547.492188,87039.707889,87088.839358,87108.971383,85387.0,85714.8
1,NaN,NaN,85538.101562,87071.144024,87116.052870,87134.443376,85387.0,85714.8
2,NaN,NaN,85525.718750,87056.129979,87103.995694,87123.598756,85387.0,85714.8
3,NaN,NaN,85523.476562,87067.576535,87108.488641,87125.304382,85387.0,85714.8
4,NaN,NaN,85521.570312,87076.045857,87122.783181,87142.037641,85545.0,85714.8
5,NaN,NaN,85549.781250,87110.517069,87151.038334,87167.698593,85545.0,85714.8
6,NaN,NaN,85520.460938,87003.977150,87049.203705,87068.078838,85545.0,85714.8
7,NaN,NaN,85531.609375,87049.045152,87083.598684,87098.066143,85545.0,85714.8
8,NaN,NaN,85510.281250,86662.891061,86713.005406,86734.745651,85387.0,85281.4
9,NaN,NaN,85503.812500,87134.007417,87164.806353,87177.452811,85387.0,85714.8
10,NaN,NaN,85554.210938,86652.180764,86689.091790,86704.601269,85545.0,85714.8
11,NaN,NaN,85525.914062,86628.480142,86651.947791,86662.184239,85545.0,85714.8
12,NaN,NaN,85537.234375,86340.588076,86369.097154,86382.286808,85523.0,85789.0
13,NaN,NaN,85520.890625,86949.834469,86989.096399,87005.659918,85545.0,85714.8
14,NaN,NaN,85549.187500,87128.641628,87156.181216,87167.605835,85545.0,85714.8
15,NaN,NaN,85536.632812,87019.198573,87058.265109,87074.708241,85545.0,85714.8
16,NaN,NaN,85536.632812,87100.765260,87137.343470,87152.569919,85545.0,85714.8
17,NaN,NaN,85654.031250,87518.185057,87554.956798,87570.203441,85545.0,85714.8
18,NaN,NaN,85554.750000,86981.098939,87011.604494,87024.594323,85387.0,85714.8
19,NaN,NaN,85561.601562,86726.724416,86759.942339,86774.823717,85387.0,85281.4

<h4 style="color: #F70206;">Selecting the Model: Linear Regression, Model Validation, Metrics</h4>

<h4 style="color: #F70206;">Comparing models: Ridge Regression, XGBoost Regression, KNN Regression, Decision Tree Regression,  Ridge Regression</h4>

<h4 style="color: #F70206;">Columnas categoricas y numericas</h4>

<h4 style="color: #F70206;">Columnas categoricas y numericas</h4>

<h4 style="color: #F70206;">Columnas categoricas y numericas</h4>

<h1 style="color: #F70206; text-shadow: 2px 2px 4px #000000; border: 1px solid #000000; font-size: 36px;">05 | Improving the Model</h1>

for df_name in lista_dataframes:
    current_df = globals()[df_name]
    current_df.to_csv(f'{df_name}.csv', index=False)

    X = current_df.drop(drop_list, axis=1)
    y = current_df["q1"]
    X_2024 = X[current_df['year'] == 2024]
    y_2024 = y[current_df['year'] == 2024]
    X_train, X_test, y_train, y_test = train_test_split(X[current_df['year'] != 2024], 
                                                        y[current_df['year'] != 2024], 
                                                        test_size=0.02, 
                                                        random_state=0)
    
    if len(X[current_df['year'] != 2024]) > 0:

        print(f'100% of our data: {len(current_df)}.')
        print(f'80% for training data: {len(X_train)}.')
        print(f'20% for test data: {len(X_test)}.')

        model = LinearRegression()
        model.fit(X_train, y_train)
        predictions = model.predict(X_test)
        predictions_linear_2024  = model.predict(X_2024)
        series_pred_2024_1 = pd.Series(predictions_linear_2024, name='predictions_real_linearregresion')

        r2_3 = r2_score(y_test, predictions)
        RMSE_3 = mean_squared_error(y_test, predictions, squared=False)
        MSE_3 = mean_squared_error(y_test, predictions)
        MAE_3 = mean_absolute_error(y_test, predictions)    

        ridge = Ridge()
        ridge.fit(X_train, y_train)
        predictions_ridge = ridge.predict(X_test)
        predictions_ridge_2024 = ridge.predict(X_2024)
        series_pred_2024_2 = pd.Series(predictions_ridge_2024, name='predictions_real_ridge')

        r2_3_2 = r2_score(y_test, predictions_ridge)
        RMSE_3_2 = mean_squared_error(y_test, predictions_ridge, squared=False)
        MSE_3_2 = mean_squared_error(y_test, predictions_ridge)
        MAE_3_2 = mean_absolute_error(y_test, predictions_ridge)

        lasso = Lasso()
        lasso.fit(X_train, y_train)
        predictions_lasso = lasso.predict(X_test)
        predictions_lasso_2024 = lasso.predict(X_2024)
        series_pred_2024_3 = pd.Series(predictions_lasso_2024, name='predictions_real_lasso')

        r2_3_3 = r2_score(y_test, predictions_lasso)
        RMSE_3_3 = mean_squared_error(y_test, predictions_lasso, squared=False)
        MSE_3_3 = mean_squared_error(y_test, predictions_lasso)
        MAE_3_3 = mean_absolute_error(y_test, predictions_lasso)

        tree = DecisionTreeRegressor()
        tree.fit(X_train, y_train)
        predictions_tree = tree.predict(X_test)
        predictions_tree_2024 = tree.predict(X_2024)
        series_pred_2024_4 = pd.Series(predictions_tree_2024, name='predictions_real_tree')

        r2_3_4 = r2_score(y_test, predictions_tree)
        RMSE_3_4 = mean_squared_error(y_test, predictions_tree, squared=False)
        MSE_3_4 = mean_squared_error(y_test, predictions_tree)
        MAE_3_4 = mean_absolute_error(y_test, predictions_tree)

        knn = KNeighborsRegressor()
        knn.fit(X_train, y_train)
        predictions_knn = knn.predict(X_test)
        predictions_knn_2024 = knn.predict(X_2024)
        series_pred_2024_5 = pd.Series(predictions_knn_2024, name='predictions_real_knn')

        r2_3_5 = r2_score(y_test, predictions_knn)
        RMSE_3_5 = mean_squared_error(y_test, predictions_knn, squared=False)
        MSE_3_5 = mean_squared_error(y_test, predictions_knn)
        MAE_3_5 = mean_absolute_error(y_test, predictions_knn)

        xgbr = xgb.XGBRFRegressor()
        xgbr.fit(X_train, y_train)
        predictions_xgb = xgbr.predict(X_test)
        predictions_xgb_2024  = xgbr.predict(X_2024)

        r2_3_6 = r2_score(y_test, predictions_xgb)
        RMSE_3_6 = mean_squared_error(y_test, predictions_xgb, squared=False)
        MSE_3_6 = mean_squared_error(y_test, predictions_xgb)
        MAE_3_6 = mean_absolute_error(y_test, predictions_xgb)

        series_pred = pd.Series(predictions_xgb, name='predictions_test')
        series_y_test = pd.Series(y_test, name='overall')
        series_pred_2024 = pd.Series(predictions_xgb_2024, name='predictions_real_xgb')
        comparison_df = pd.concat([series_y_test.reset_index(drop=True), series_pred, series_pred_2024, 
                                   series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                                  series_pred_2024_4, series_pred_2024_5], axis=1)
        # Concatenar las series de predicciones para el DataFrame actual
        current_df_2024 = pd.concat([series_pred_2024.reset_index(drop=True), 
                                     series_pred_2024_1, series_pred_2024_2, series_pred_2024_3, 
                                     series_pred_2024_4, series_pred_2024_5], axis=1)
        current_df_2024['position_xgb'] = current_df_2024['predictions_real_xgb'].rank(method='min')
        current_df_2024['position_linearregresion'] = current_df_2024['predictions_real_linearregresion'].rank(method='min')
        current_df_2024['position_ridge'] = current_df_2024['predictions_real_ridge'].rank(method='min')
        current_df_2024['position_lasso'] = current_df_2024['predictions_real_lasso'].rank(method='min')
        current_df_2024['position_tree'] = current_df_2024['predictions_real_tree'].rank(method='min')
        current_df_2024['position_knn'] = current_df_2024['predictions_real_knn'].rank(method='min')

        current_df_2024.to_csv(f'{df_name}_2024.csv', index=False)
    else:
        print("No hay suficientes datos disponibles para dividir en conjuntos de entrenamiento y prueba. {df_name}")